wf-flatfile-pickup/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Initialize_ErrorDetails": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ErrorDetails",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {}
      },
      "Initialize_FileValidationStatus": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "FileValidationStatus",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "runAfter": {
          "Initialize_ErrorDetails": [
            "Succeeded"
          ]
        }
      },
      "Scope_FileProcessing": {
        "type": "Scope",
        "actions": {
          "Get_File_Content": {
            "type": "ServiceProvider",
            "inputs": {
              "parameters": {
                "path": "@triggerOutputs()?['body/Path']"
              },
              "serviceProviderConfiguration": {
                "connectionName": "FileSystem",
                "operationId": "getFileContentByPath",
                "serviceProviderId": "/serviceProviders/FileSystem"
              }
            },
            "runAfter": {}
          },
          "Validate_File_Content": {
            "type": "Compose",
            "inputs": "@length(body('Get_File_Content'))",
            "runAfter": {
              "Get_File_Content": [
                "Succeeded"
              ]
            }
          },
          "Condition_Check_File_Size": {
            "type": "If",
            "expression": {
              "and": [
                {
                  "greater": [
                    "@outputs('Validate_File_Content')",
                    0
                  ]
                },
                {
                  "less": [
                    "@outputs('Validate_File_Content')",
                    10485760
                  ]
                }
              ]
            },
            "actions": {
              "Parse_CSV_Content": {
                "type": "Compose",
                "inputs": "@body('Get_File_Content')",
                "runAfter": {}
              },
              "Send_Message_To_ServiceBus": {
                "type": "ServiceProvider",
                "inputs": {
                  "parameters": {
                    "entityName": "flatfile-processing-queue",
                    "message": {
                      "contentData": "@{body('Get_File_Content')}",
                      "contentType": "text/csv",
                      "properties": {
                        "FileName": "@triggerOutputs()?['body/Name']",
                        "FilePath": "@triggerOutputs()?['body/Path']",
                        "ProcessedDateTime": "@utcNow()",
                        "FileSize": "@outputs('Validate_File_Content')",
                        "CorrelationId": "@guid()"
                      }
                    }
                  },
                  "serviceProviderConfiguration": {
                    "connectionName": "serviceBus",
                    "operationId": "sendMessage",
                    "serviceProviderId": "/serviceProviders/serviceBus"
                  }
                },
                "runAfter": {
                  "Parse_CSV_Content": [
                    "Succeeded"
                  ]
                }
              },
              "Log_Success": {
                "type": "Compose",
                "inputs": {
                  "message": "File successfully sent to Service Bus",
                  "fileName": "@triggerOutputs()?['body/Name']",
                  "timestamp": "@utcNow()",
                  "status": "Success"
                },
                "runAfter": {
                  "Send_Message_To_ServiceBus": [
                    "Succeeded"
                  ]
                }
              }
            },
            "else": {
              "actions": {
                "Set_Validation_Error": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "ErrorDetails",
                    "value": "File validation failed: File size must be between 1 byte and 10 MB"
                  },
                  "runAfter": {}
                },
                "Set_Validation_Status_False": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "FileValidationStatus",
                    "value": false
                  },
                  "runAfter": {
                    "Set_Validation_Error": [
                      "Succeeded"
                    ]
                  }
                }
              }
            },
            "runAfter": {
              "Validate_File_Content": [
                "Succeeded"
              ]
            }
          }
        },
        "runAfter": {
          "Initialize_FileValidationStatus": [
            "Succeeded"
          ]
        }
      },
      "Scope_ErrorHandling": {
        "type": "Scope",
        "actions": {
          "Condition_Check_Error": {
            "type": "If",
            "expression": {
              "or": [
                {
                  "equals": [
                    "@result('Scope_FileProcessing')[0]['status']",
                    "Failed"
                  ]
                },
                {
                  "equals": [
                    "@result('Scope_FileProcessing')[0]['status']",
                    "TimedOut"
                  ]
                },
                {
                  "equals": [
                    "@variables('FileValidationStatus')",
                    false
                  ]
                }
              ]
            },
            "actions": {
              "Compose_Error_Details": {
                "type": "Compose",
                "inputs": {
                  "workflowName": "wf-flatfile-pickup",
                  "errorMessage": "@coalesce(variables('ErrorDetails'), result('Scope_FileProcessing')[0]['error']['message'])",
                  "fileName": "@triggerOutputs()?['body/Name']",
                  "filePath": "@triggerOutputs()?['body/Path']",
                  "timestamp": "@utcNow()",
                  "runId": "@workflow()['run']['name']"
                },
                "runAfter": {}
              },
              "Send_Error_To_DeadLetter_Queue": {
                "type": "ServiceProvider",
                "inputs": {
                  "parameters": {
                    "entityName": "flatfile-deadletter-queue",
                    "message": {
                      "contentData": "@{outputs('Compose_Error_Details')}",
                      "contentType": "application/json",
                      "properties": {
                        "ErrorType": "FileProcessingError",
                        "Timestamp": "@utcNow()"
                      }
                    }
                  },
                  "serviceProviderConfiguration": {
                    "connectionName": "serviceBus",
                    "operationId": "sendMessage",
                    "serviceProviderId": "/serviceProviders/serviceBus"
                  }
                },
                "runAfter": {
                  "Compose_Error_Details": [
                    "Succeeded"
                  ]
                }
              },
              "Terminate_With_Error": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "FileProcessingFailed",
                    "message": "@{outputs('Compose_Error_Details')}"
                  }
                },
                "runAfter": {
                  "Send_Error_To_DeadLetter_Queue": [
                    "Succeeded"
                  ]
                }
              }
            },
            "runAfter": {}
          }
        },
        "runAfter": {
          "Scope_FileProcessing": [
            "Succeeded",
            "Failed",
            "TimedOut"
          ]
        }
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "When_a_file_is_created": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "path": "/EmployeeFiles",
            "inferContentType": true
          },
          "serviceProviderConfiguration": {
            "connectionName": "FileSystem",
            "operationId": "whenAFileIsCreated",
            "serviceProviderId": "/serviceProviders/FileSystem"
          }
        },
        "metadata": {
          "description": "Triggers when a new CSV file is created in the monitored folder"
        },
        "recurrence": {
          "frequency": "Minute",
          "interval": 5
        },
        "splitOn": "@triggerOutputs()?['body']",
        "conditions": [
          {
            "expression": "@endsWith(triggerOutputs()?['body/Name'], '.csv')"
          }
        ]
      }
    }
  },
  "kind": "Stateful"
}
