wf-order-orchestrator/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {},
        "triggers": {
            "When_a_blob_is_added_or_modified_(properties_only)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "azureblob"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/default/triggers/batch/onupdatedfile",
                    "queries": {
                        "folderId": "/orders/inbound",
                        "maxFileCount": 10,
                        "checkBothCreatedAndModifiedDateTime": false
                    }
                },
                "recurrence": {
                    "interval": 30,
                    "frequency": "Second"
                },
                "splitOn": "@triggerBody()",
                "metadata": {
                    "description": "Trigger when a JSON order file is added or modified in the inbound folder"
                }
            }
        },
        "actions": {
            "Initialize_Variables": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "OrderContext",
                            "type": "object",
                            "value": {
                                "orderId": "",
                                "orderType": "",
                                "customerId": ""
                            }
                        },
                        {
                            "name": "CustomerId",
                            "type": "string",
                            "value": ""
                        },
                        {
                            "name": "BlobPath",
                            "type": "string",
                            "value": "@triggerBody()?['path']"
                        },
                        {
                            "name": "BlobName",
                            "type": "string",
                            "value": "@triggerBody()?['name']"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Log_Workflow_Start": {
                "type": "Compose",
                "inputs": {
                    "workflow": "wf-order-orchestrator",
                    "event": "WorkflowStarted",
                    "blobName": "@variables('BlobName')",
                    "blobPath": "@variables('BlobPath')",
                    "timestamp": "@utcNow()",
                    "runId": "@workflow()['run']['name']"
                },
                "runAfter": {
                    "Initialize_Variables": [
                        "Succeeded"
                    ]
                },
                "trackedProperties": {
                    "logLevel": "INFO",
                    "workflow": "wf-order-orchestrator",
                    "event": "WorkflowStarted",
                    "blobName": "@outputs('Log_Workflow_Start')?['blobName']"
                }
            },
            "Scope_Process_Order": {
                "type": "Scope",
                "actions": {
                    "Get_Blob_Content": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "azureblob"
                                }
                            },
                            "method": "get",
                            "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(variables('BlobPath')))}/content"
                        },
                        "runAfter": {},
                        "metadata": {
                            "description": "Get the content of the order JSON file from blob storage"
                        }
                    },
                    "Parse_JSON": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@base64ToString(body('Get_Blob_Content')?['$content'])",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "OrderNumber": {
                                        "type": "string"
                                    },
                                    "CustomerID": {
                                        "type": "string"
                                    },
                                    "OrderType": {
                                        "type": "string"
                                    },
                                    "Status": {
                                        "type": "string"
                                    },
                                    "CurrentTime": {
                                        "type": "string"
                                    },
                                    "itemList": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "LineID": {
                                                    "type": "integer"
                                                },
                                                "ProductID": {
                                                    "type": "string"
                                                },
                                                "Quantity": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    },
                                    "Other": {
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "OrderNumber",
                                    "OrderType"
                                ]
                            }
                        },
                        "runAfter": {
                            "Get_Blob_Content": [
                                "Succeeded"
                            ]
                        },
                        "metadata": {
                            "description": "Parse the incoming JSON order"
                        }
                    },
                    "Set_Order_Context": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "OrderContext",
                            "value": {
                                "orderId": "@body('Parse_JSON')?['OrderNumber']",
                                "orderType": "@body('Parse_JSON')?['OrderType']",
                                "customerId": "@body('Parse_JSON')?['CustomerID']"
                            }
                        },
                        "runAfter": {
                            "Parse_JSON": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Log_JSON_Parsed": {
                        "type": "Compose",
                        "inputs": {
                            "workflow": "wf-order-orchestrator",
                            "event": "JSONParsed",
                            "orderId": "@variables('OrderContext')?['orderId']",
                            "orderType": "@variables('OrderContext')?['orderType']",
                            "timestamp": "@utcNow()",
                            "runId": "@workflow()['run']['name']"
                        },
                        "runAfter": {
                            "Set_Order_Context": [
                                "Succeeded"
                            ]
                        },
                        "trackedProperties": {
                            "logLevel": "INFO",
                            "workflow": "wf-order-orchestrator",
                            "event": "JSONParsed",
                            "orderId": "@outputs('Log_JSON_Parsed')?['orderId']",
                            "orderType": "@outputs('Log_JSON_Parsed')?['orderType']"
                        }
                    },
                    "Validate_OrderType": {
                        "type": "If",
                        "expression": {
                            "or": [
                                {
                                    "equals": [
                                        "@body('Parse_JSON')?['OrderType']",
                                        "Retail"
                                    ]
                                },
                                {
                                    "equals": [
                                        "@body('Parse_JSON')?['OrderType']",
                                        "Distributor"
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Publish_Validated_Order": {
                                "type": "ServiceProvider",
                                "inputs": {
                                    "parameters": {
                                        "entityName": "orders-topic",
                                        "message": {
                                            "contentData": {
                                                "$content-type": "application/json",
                                                "$content": "@body('Get_Blob_Content')?['$content']"
                                            },
                                            "userProperties": {
                                                "orderType": "@variables('OrderContext')?['orderType']",
                                                "orderId": "@variables('OrderContext')?['orderId']",
                                                "customerId": "@variables('OrderContext')?['customerId']"
                                            }
                                        }
                                    },
                                    "serviceProviderConfiguration": {
                                        "connectionName": "serviceBus",
                                        "operationId": "sendMessage",
                                        "serviceProviderId": "/serviceProviders/serviceBus"
                                    },
                                    "retryPolicy": {
                                        "type": "fixed",
                                        "count": 2,
                                        "interval": "PT60S"
                                    }
                                },
                                "metadata": {
                                    "description": "Publish validated order JSON to Service Bus topic"
                                }
                            },
                            "Delete_Original_File": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "azureblob"
                                        }
                                    },
                                    "method": "delete",
                                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(variables('BlobPath')))}"
                                },
                                "runAfter": {
                                    "Publish_Validated_Order": [
                                        "Succeeded"
                                    ]
                                },
                                "metadata": {
                                    "description": "Delete the original file after successful processing"
                                }
                            },
                            "Log_Order_Publish_Success": {
                                "type": "Compose",
                                "inputs": {
                                    "workflow": "wf-order-orchestrator",
                                    "message": "Order published to Service Bus and file deleted",
                                    "orderId": "@variables('OrderContext')?['orderId']",
                                    "orderType": "@variables('OrderContext')?['orderType']",
                                    "customerId": "@variables('OrderContext')?['customerId']",
                                    "timestamp": "@utcNow()"
                                },
                                "runAfter": {
                                    "Delete_Original_File": [
                                        "Succeeded"
                                    ]
                                },
                                "trackedProperties": {
                                    "logLevel": "INFO",
                                    "workflow": "wf-order-orchestrator",
                                    "event": "OrderPublished",
                                    "orderId": "@outputs('Log_Order_Publish_Success')?['orderId']",
                                    "orderType": "@outputs('Log_Order_Publish_Success')?['orderType']",
                                    "customerId": "@outputs('Log_Order_Publish_Success')?['customerId']"
                                }
                            }
                        },
                        "else": {
                            "actions": {
                                "Build_Negative_Message": {
                                    "type": "Compose",
                                    "inputs": {
                                        "OrderId": "@body('Parse_JSON')?['OrderNumber']",
                                        "CustomerId": "@body('Parse_JSON')?['CustomerID']",
                                        "OrderType": "@body('Parse_JSON')?['OrderType']",
                                        "ErrorMessage": "OrderType must be 'Retail' or 'Distributor'",
                                        "TimestampUtc": "@utcNow()"
                                    }
                                },
                                "Write_Negative_Message_To_Error": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "referenceName": "azureblob"
                                            }
                                        },
                                        "method": "post",
                                        "body": "@outputs('Build_Negative_Message')",
                                        "path": "/datasets/default/files",
                                        "queries": {
                                            "folderPath": "/orders/error",
                                            "name": "@concat('neg_', variables('OrderContext')?['orderId'], '_', replace(replace(replace(utcNow(), ':', ''), '-', ''), ' ', ''), '.json')"
                                        }
                                    },
                                    "runAfter": {
                                        "Build_Negative_Message": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "description": "Write negative message to error folder"
                                    }
                                },
                                "Delete_Original_File_On_Error": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "referenceName": "azureblob"
                                            }
                                        },
                                        "method": "delete",
                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(variables('BlobPath')))}"
                                    },
                                    "runAfter": {
                                        "Write_Negative_Message_To_Error": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "description": "Delete original file after writing error message"
                                    }
                                },
                                "Log_Invalid_OrderType": {
                                    "type": "Compose",
                                    "inputs": {
                                        "workflow": "wf-order-orchestrator",
                                        "message": "Invalid order type routed to error container",
                                        "orderId": "@variables('OrderContext')?['orderId']",
                                        "orderType": "@variables('OrderContext')?['orderType']",
                                        "customerId": "@variables('OrderContext')?['customerId']",
                                        "timestamp": "@utcNow()"
                                    },
                                    "runAfter": {
                                        "Delete_Original_File_On_Error": [
                                            "Succeeded"
                                        ]
                                    },
                                    "trackedProperties": {
                                        "logLevel": "WARN",
                                        "workflow": "wf-order-orchestrator",
                                        "event": "InvalidOrderType",
                                        "orderId": "@outputs('Log_Invalid_OrderType')?['orderId']",
                                        "orderType": "@outputs('Log_Invalid_OrderType')?['orderType']",
                                        "customerId": "@outputs('Log_Invalid_OrderType')?['customerId']"
                                    }
                                },
                                "Terminate_Invalid_Order": {
                                    "type": "Terminate",
                                    "inputs": {
                                        "runStatus": "Succeeded"
                                    },
                                    "runAfter": {
                                        "Log_Invalid_OrderType": [
                                            "Succeeded"
                                        ]
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Log_JSON_Parsed": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Log_Workflow_Start": [
                        "Succeeded"
                    ]
                }
            },
            "Scope_ErrorHandling": {
                "type": "Scope",
                "actions": {
                    "Log_Compose_Error": {
                        "type": "Compose",
                        "inputs": {
                            "workflow": "wf-order-orchestrator",
                            "event": "ProcessingFailed",
                            "blobName": "@variables('BlobName')",
                            "blobPath": "@variables('BlobPath')",
                            "errorDetails": "@string(result('Scope_Process_Order'))",
                            "timestamp": "@utcNow()",
                            "runId": "@workflow()['run']['name']"
                        },
                        "trackedProperties": {
                            "logLevel": "ERROR",
                            "workflow": "wf-order-orchestrator",
                            "event": "ProcessingFailed"
                        }
                    },
                    "Terminate_Failed": {
                        "type": "Terminate",
                        "inputs": {
                            "runStatus": "Failed",
                            "runError": {
                                "code": "OrchestratorProcessingFailed",
                                "message": "@{outputs('Log_Compose_Error')}"
                            }
                        },
                        "runAfter": {
                            "Log_Compose_Error": [
                                "Succeeded",
                                "Failed",
                                "TimedOut",
                                "Skipped"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Scope_Process_Order": [
                        "Failed",
                        "TimedOut",
                        "Skipped"
                    ]
                }
            }
        },
        "outputs": {}
    },
    "kind": "stateful"
}