wf-order-retail-subscriber/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_messages_are_available_in_a_topic_subscription_(peek-lock)": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "topicName": "orders-topic",
                        "subscriptionName": "RetailSubscription"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "peekLockTopicMessagesV2",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        },
        "actions": {
            "Initialize_Variables": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "OrderId",
                            "type": "string",
                            "value": "@coalesce(triggerBody()?['properties']?['OrderId'], triggerBody()?['properties']?['orderId'], triggerBody()?['properties']?['orderid'], triggerBody()?['messageId'], '')"
                        },
                        {
                            "name": "Timestamp",
                            "type": "string",
                            "value": "@replace(replace(replace(utcNow(), ':', ''), '-', ''), ' ', '')"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Scope_Process_Retail_Order": {
                "type": "Scope",
                "actions": {
                    "Convert_JSON_To_XML": {
                        "type": "Compose",
                        "inputs": "@xml(json(concat('{\"root\":', triggerBody()?['contentData'], '}')))",
                        "runAfter": {}
                    },
                    "Transform_Retail_Order_XSLT": {
                        "type": "Xslt",
                        "inputs": {
                            "content": "@outputs('Convert_JSON_To_XML')",
                            "map": {
                                "source": "LogicApp",
                                "name": "order-retail-transform.xslt"
                            },
                            "transformOptions": "ApplyXsltOutputAttributes"
                        },
                        "runAfter": {
                            "Convert_JSON_To_XML": [
                                "Succeeded"
                            ]
                        },
                        "metadata": {
                            "description": "Transform parsed order into Retail XML using XSLT"
                        }
                    },
                    "Create_Retail_XML_Blob": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "azureblob"
                                }
                            },
                            "method": "post",
                            "body": "@body('Transform_Retail_Order_XSLT')",
                            "path": "/datasets/default/files",
                            "queries": {
                                "folderPath": "orders/retailorder",
                                "name": "@concat(variables('OrderId'), '_', variables('Timestamp'), '.xml')"
                            }
                        },
                        "runAfter": {
                            "Transform_Retail_Order_XSLT": [
                                "Succeeded"
                            ]
                        },
                        "metadata": {
                            "description": "Write Retail XML file to Blob container path RetailOrder/"
                        }
                    },
                    "Complete_the_message_in_a_topic_subscription": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "servicebus-2"
                                }
                            },
                            "method": "delete",
                            "path": "/@{encodeURIComponent(encodeURIComponent('orders-topic'))}/subscriptions/@{encodeURIComponent('RetailSubscription')}/messages/complete",
                            "queries": {
                                "lockToken": "@triggerBody()?['lockToken']",
                                "subscriptionType": "Main",
                                "sessionId": ""
                            }
                        },
                        "runAfter": {
                            "Create_Retail_XML_Blob": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Log_Success": {
                        "type": "Compose",
                        "inputs": {
                            "workflow": "wf-order-retail-subscriber",
                            "event": "ProcessingComplete",
                            "orderId": "@variables('OrderId')",
                            "status": "Processed",
                            "message": "Retail XML successfully written to Blob.",
                            "timestamp": "@utcNow()",
                            "runId": "@workflow()['run']['name']"
                        },
                        "runAfter": {
                            "Complete_the_message_in_a_topic_subscription": [
                                "SUCCEEDED"
                            ]
                        },
                        "trackedProperties": {
                            "logLevel": "INFO",
                            "workflow": "wf-order-retail-subscriber",
                            "event": "ProcessingComplete",
                            "orderId": "@outputs('Log_Success')?['orderId']",
                            "status": "Processed"
                        }
                    }
                },
                "runAfter": {
                    "Log_Workflow_Start": [
                        "Succeeded"
                    ]
                }
            },
            "Scope_ErrorHandling": {
                "type": "Scope",
                "actions": {
                    "Log_Compose_Error": {
                        "type": "Compose",
                        "inputs": {
                            "workflow": "wf-order-retail-subscriber",
                            "event": "ProcessingFailed",
                            "orderId": "@variables('OrderId')",
                            "status": "Failed",
                            "errorMessage": "@result('Scope_Process_Retail_Order')[0]['error']['message']",
                            "errorCode": "@result('Scope_Process_Retail_Order')[0]['error']['code']",
                            "timestamp": "@utcNow()",
                            "runId": "@workflow()['run']['name']"
                        },
                        "trackedProperties": {
                            "logLevel": "ERROR",
                            "workflow": "wf-order-retail-subscriber",
                            "event": "ProcessingFailed",
                            "orderId": "@outputs('Log_Compose_Error')?['orderId']",
                            "errorCode": "@outputs('Log_Compose_Error')?['errorCode']"
                        }
                    },
                    "Terminate_Failed": {
                        "type": "Terminate",
                        "inputs": {
                            "runStatus": "Failed",
                            "runError": {
                                "code": "RetailOrderProcessingFailed",
                                "message": "@{outputs('Log_Compose_Error')}"
                            }
                        },
                        "runAfter": {
                            "Dead-letter_the_message_in_a_topic_subscription": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Dead-letter_the_message_in_a_topic_subscription": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "servicebus-2"
                                }
                            },
                            "method": "post",
                            "path": "/@{encodeURIComponent(encodeURIComponent('orders-topic'))}/subscriptions/@{encodeURIComponent('RetailSubscription')}/messages/deadletter",
                            "queries": {
                                "lockToken": "@triggerBody()?['lockToken']",
                                "sessionId": "",
                                "deadLetterReason": "ProcessingFailed",
                                "deadLetterErrorDescription": "@{outputs('Log_Compose_Error')}\n"
                            }
                        },
                        "runAfter": {
                            "Log_Compose_Error": [
                                "Succeeded",
                                "Failed",
                                "TimedOut",
                                "Skipped"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Scope_Process_Retail_Order": [
                        "Failed",
                        "Skipped",
                        "TimedOut"
                    ]
                }
            },
            "Log_Workflow_Start": {
                "type": "Compose",
                "inputs": {
                    "workflow": "wf-order-retail-subscriber",
                    "event": "WorkflowStarted",
                    "orderId": "@variables('OrderId')",
                    "timestamp": "@utcNow()",
                    "runId": "@workflow()['run']['name']"
                },
                "runAfter": {
                    "Initialize_Variables": [
                        "SUCCEEDED"
                    ]
                },
                "trackedProperties": {
                    "logLevel": "INFO",
                    "workflow": "wf-order-retail-subscriber",
                    "event": "WorkflowStarted",
                    "orderId": "@outputs('Log_Workflow_Start')?['orderId']"
                }
            }
        },
        "outputs": {}
    },
    "kind": "stateful"
}