wf-flatfile-transformation/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Scope_Transformation": {
                "type": "Scope",
                "actions": {
                    "Decode_Flat_File": {
                        "type": "FlatFileDecoding",
                        "inputs": {
                            "content": "@base64ToString(base64ToString(triggerBody()?['contentData']?['$content']))",
                            "schema": {
                                "source": "LogicApp",
                                "name": "EmployeeCSV.xsd"
                            }
                        },
                        "metadata": {
                            "description": "Decode CSV flat file using XSD schema - outputs XML with employee data"
                        }
                    },
                    "Transform_To_XML_Using_XSLT": {
                        "type": "Xslt",
                        "inputs": {
                            "content": "@body('Decode_Flat_File')",
                            "map": {
                                "source": "LogicApp",
                                "name": "EmployeeCSVToXML.xslt"
                            },
                            "transformOptions": "ApplyXsltOutputAttributes"
                        },
                        "runAfter": {
                            "Decode_Flat_File": [
                                "Succeeded"
                            ]
                        },
                        "metadata": {
                            "description": "Transform decoded XML using XSLT"
                        }
                    },
                    "Send_XML_To_Storage_Queue": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "azurequeues"
                                }
                            },
                            "method": "post",
                            "body": "@body('Transform_To_XML_Using_XSLT')",
                            "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/queues/@{encodeURIComponent('flatfile-xml-queue')}/messages",
                            "queries": {
                                "visibilitytimeout": "0"
                            }
                        },
                        "runAfter": {
                            "Transform_To_XML_Using_XSLT": [
                                "Succeeded"
                            ]
                        },
                        "metadata": {
                            "description": "Sends transformed XML to Azure Storage Queue"
                        }
                    },
                    "Transform_To_JSON_Using_Liquid": {
                        "type": "Liquid",
                        "kind": "XmlToJson",
                        "inputs": {
                            "content": "@body('Decode_Flat_File')",
                            "map": {
                                "source": "LogicApp",
                                "name": "EmployeeCSVToJSON.liquid"
                            }
                        },
                        "runAfter": {
                            "Decode_Flat_File": [
                                "Succeeded"
                            ]
                        },
                        "metadata": {
                            "description": "Transform decoded XML to JSON using Liquid template"
                        }
                    },
                    "Send_JSON_To_Storage_Queue": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "azurequeues"
                                }
                            },
                            "method": "post",
                            "body": "@body('Transform_To_JSON_Using_Liquid')",
                            "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/queues/@{encodeURIComponent('flatfile-json-queue')}/messages",
                            "queries": {
                                "visibilitytimeout": "0"
                            }
                        },
                        "runAfter": {
                            "Transform_To_JSON_Using_Liquid": [
                                "Succeeded"
                            ]
                        },
                        "metadata": {
                            "description": "Sends transformed JSON to Azure Storage Queue"
                        }
                    },
                    "Complete_ServiceBus_Message": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "queueName": "flatfile-processing-queue",
                                "lockToken": "@triggerBody()?['lockToken']"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "serviceBus",
                                "operationId": "completeQueueMessageV2",
                                "serviceProviderId": "/serviceProviders/serviceBus"
                            }
                        },
                        "runAfter": {
                            "Send_XML_To_Storage_Queue": [
                                "Succeeded"
                            ],
                            "Send_JSON_To_Storage_Queue": [
                                "Succeeded"
                            ]
                        },
                        "metadata": {
                            "description": "Complete Service Bus message after processing"
                        }
                    },
                    "Log_Transformation_Success": {
                        "type": "Compose",
                        "inputs": {
                            "workflowName": "wf-flatfile-transformation",
                            "correlationId": "@variables('CorrelationId')",
                            "status": "Success",
                            "message": "Successfully transformed and queued XML and JSON messages",
                            "xmlQueueStatus": "@actions('Send_XML_To_Storage_Queue')['status']",
                            "jsonQueueStatus": "@actions('Send_JSON_To_Storage_Queue')['status']",
                            "timestamp": "@utcNow()",
                            "runId": "@workflow()['run']['name']"
                        },
                        "runAfter": {
                            "Complete_ServiceBus_Message": [
                                "Succeeded"
                            ]
                        },
                        "metadata": {
                            "description": "Log successful transformation completion"
                        }
                    }
                },
                "runAfter": {
                    "Initialize_ErrorMessage": [
                        "Succeeded"
                    ]
                }
            },
            "Scope_ErrorHandling": {
                "type": "Scope",
                "actions": {
                    "Compose_Transformation_Error": {
                        "type": "Compose",
                        "inputs": {
                            "workflowName": "wf-flatfile-transformation",
                            "correlationId": "@variables('CorrelationId')",
                            "errorMessage": "@result('Scope_Transformation')[0]['error']['message']",
                            "errorCode": "@result('Scope_Transformation')[0]['error']['code']",
                            "fileName": "@{triggerBody()?['properties']?['FileName']}",
                            "timestamp": "@utcNow()",
                            "runId": "@workflow()['run']['name']",
                            "originalMessage": "@triggerBody()"
                        }
                    },
                    "Dead_Letter_ServiceBus_Message": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "queueName": "flatfile-processing-queue",
                                "lockToken": "@triggerBody()?['lockToken']",
                                "deadLetterReason": "TransformationFailed",
                                "deadLetterErrorDescription": "@{outputs('Compose_Transformation_Error')}"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "serviceBus",
                                "operationId": "deadLetterQueueMessageV2",
                                "serviceProviderId": "/serviceProviders/serviceBus"
                            }
                        },
                        "runAfter": {
                            "Compose_Transformation_Error": [
                                "Succeeded"
                            ]
                        },
                        "metadata": {
                            "description": "Move failed message to dead-letter queue"
                        }
                    },
                    "Send_Error_Notification": {
                        "type": "Compose",
                        "inputs": {
                            "alertType": "TransformationError",
                            "details": "@outputs('Compose_Transformation_Error')",
                            "severity": "High"
                        },
                        "runAfter": {
                            "Dead_Letter_ServiceBus_Message": [
                                "Succeeded"
                            ]
                        },
                        "metadata": {
                            "description": "Can be extended to send email/Teams notification"
                        }
                    },
                    "Terminate_With_Transformation_Error": {
                        "type": "Terminate",
                        "inputs": {
                            "runStatus": "Failed",
                            "runError": {
                                "code": "TransformationFailed",
                                "message": "@{outputs('Compose_Transformation_Error')}"
                            }
                        },
                        "runAfter": {
                            "Send_Error_Notification": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Scope_Transformation": [
                        "Failed",
                        "TimedOut"
                    ]
                }
            },
            "Initialize_ErrorMessage": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "CorrelationId",
                            "type": "string",
                            "value": "@{triggerBody()?['properties']?['CorrelationId']}"
                        },
                        {
                            "name": "ErrorMessage",
                            "type": "string",
                            "value": ""
                        }
                    ]
                },
                "runAfter": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_messages_are_available_in_queue": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "queueName": "flatfile-processing-queue",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "peekLockQueueMessagesV2",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']",
                "metadata": {
                    "description": "Triggers when a message is received in Service Bus queue from wf-flatfile-pickup"
                }
            }
        }
    },
    "kind": "Stateful"
}