wf-order-distributor-subscriber/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_messages_are_available_in_a_topic_subscription_(peek-lock)": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "topicName": "orders-topic",
                        "subscriptionName": "DistributorSubscription"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "peekLockTopicMessagesV2",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        },
        "actions": {
            "Initialize_Variables": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "OrderId",
                            "type": "string",
                            "value": "@coalesce(triggerBody()?['properties']?['OrderId'], triggerBody()?['properties']?['orderId'], triggerBody()?['properties']?['orderid'], triggerBody()?['messageId'], '')"
                        },
                        {
                            "name": "Timestamp",
                            "type": "string",
                            "value": "@replace(replace(replace(utcNow(), ':', ''), '-', ''), ' ', '')"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Scope_Process_Distributor_Order": {
                "type": "Scope",
                "actions": {
                    "Transform_Distributor_Order": {
                        "type": "Liquid",
                        "kind": "JsonToJson",
                        "inputs": {
                            "content": "@json(triggerBody()?['contentData'])",
                            "map": {
                                "source": "LogicApp",
                                "name": "order-distributor-transform.liquid"
                            }
                        },
                        "runAfter": {},
                        "metadata": {
                            "description": "Transform distributor payload to normalized JSON"
                        }
                    },
                    "Create_Distributor_JSON_Blob": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "azureblob"
                                }
                            },
                            "method": "post",
                            "body": "@body('Transform_Distributor_Order')",
                            "path": "/datasets/default/files",
                            "queries": {
                                "folderPath": "orders/distributororder",
                                "name": "@concat(variables('OrderId'), '_', variables('Timestamp'), '.json')"
                            }
                        },
                        "runAfter": {
                            "Transform_Distributor_Order": [
                                "Succeeded"
                            ]
                        },
                        "metadata": {
                            "description": "Write Distributor JSON file to Blob container path DistributorOrder/"
                        }
                    },
                    "Complete_the_message_in_a_topic_subscription": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "servicebus-2"
                                }
                            },
                            "method": "delete",
                            "path": "/@{encodeURIComponent(encodeURIComponent('orders-topic'))}/subscriptions/@{encodeURIComponent('DistributorSubscription')}/messages/complete",
                            "queries": {
                                "lockToken": "@triggerBody()?['lockToken']",
                                "subscriptionType": "Main",
                                "sessionId": ""
                            }
                        },
                        "runAfter": {
                            "Create_Distributor_JSON_Blob": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Log_Success": {
                        "type": "Compose",
                        "inputs": {
                            "workflow": "wf-order-distributor-subscriber",
                            "event": "ProcessingComplete",
                            "orderId": "@variables('OrderId')",
                            "status": "Success",
                            "message": "Distributor JSON successfully written to Blob.",
                            "timestamp": "@utcNow()",
                            "runId": "@workflow()['run']['name']"
                        },
                        "runAfter": {
                            "Complete_the_message_in_a_topic_subscription": [
                                "SUCCEEDED"
                            ]
                        },
                        "trackedProperties": {
                            "logLevel": "INFO",
                            "workflow": "wf-order-distributor-subscriber",
                            "event": "ProcessingComplete",
                            "orderId": "@outputs('Log_Success')?['orderId']",
                            "status": "Success"
                        }
                    }
                },
                "runAfter": {
                    "Log_Workflow_Start": [
                        "Succeeded"
                    ]
                }
            },
            "Scope_ErrorHandling": {
                "type": "Scope",
                "actions": {
                    "Log_Compose_Error": {
                        "type": "Compose",
                        "inputs": {
                            "workflow": "wf-order-distributor-subscriber",
                            "event": "ProcessingFailed",
                            "orderId": "@variables('OrderId')",
                            "status": "Failed",
                            "errorMessage": "@result('Scope_Process_Distributor_Order')[0]['error']['message']",
                            "errorCode": "@result('Scope_Process_Distributor_Order')[0]['error']['code']",
                            "timestamp": "@utcNow()",
                            "runId": "@workflow()['run']['name']"
                        },
                        "trackedProperties": {
                            "logLevel": "ERROR",
                            "workflow": "wf-order-distributor-subscriber",
                            "event": "ProcessingFailed",
                            "orderId": "@outputs('Log_Compose_Error')?['orderId']",
                            "errorCode": "@outputs('Log_Compose_Error')?['errorCode']"
                        }
                    },
                    "Dead-letter_the_message_in_a_topic_subscription": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "servicebus-2"
                                }
                            },
                            "method": "post",
                            "path": "/@{encodeURIComponent(encodeURIComponent('orders-topic'))}/subscriptions/@{encodeURIComponent('DistributorSubscription')}/messages/deadletter",
                            "queries": {
                                "lockToken": "@triggerBody()?['lockToken']",
                                "sessionId": "",
                                "deadLetterReason": "ProcessingFailed",
                                "deadLetterErrorDescription": "@{outputs('Log_Compose_Error')}\n"
                            }
                        },
                        "runAfter": {
                            "Log_Compose_Error": [
                                "Succeeded",
                                "Failed",
                                "TimedOut",
                                "Skipped"
                            ]
                        }
                    },
                    "Terminate_Failed": {
                        "type": "Terminate",
                        "inputs": {
                            "runStatus": "Failed",
                            "runError": {
                                "code": "DistributorOrderProcessingFailed",
                                "message": "@{outputs('Log_Compose_Error')}"
                            }
                        },
                        "runAfter": {
                            "Dead-letter_the_message_in_a_topic_subscription": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Scope_Process_Distributor_Order": [
                        "Failed",
                        "Skipped",
                        "TimedOut"
                    ]
                }
            },
            "Log_Workflow_Start": {
                "type": "Compose",
                "inputs": {
                    "workflow": "wf-order-distributor-subscriber",
                    "event": "WorkflowStarted",
                    "orderId": "@variables('OrderId')",
                    "timestamp": "@utcNow()",
                    "runId": "@workflow()['run']['name']"
                },
                "runAfter": {
                    "Initialize_Variables": [
                        "SUCCEEDED"
                    ]
                },
                "trackedProperties": {
                    "logLevel": "INFO",
                    "workflow": "wf-order-distributor-subscriber",
                    "event": "WorkflowStarted",
                    "orderId": "@outputs('Log_Workflow_Start')?['orderId']"
                }
            }
        },
        "outputs": {}
    },
    "kind": "stateful"
}