UpsertEmployeeV2/workflow-broken.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "2.0.0.0",
        "actions": {
            "Try_Scope": {
                "type": "Scope",
                "actions": {
                    "Log_Workflow_Start": {
                        "type": "Compose",
                        "inputs": {
                            "logLevel": "INFO",
                            "timestamp": "@utcNow()",
                            "workflowName": "UpsertEmployee",
                            "runId": "@workflow().run.name",
                            "message": "Workflow execution started",
                            "requestSize": "@length(string(triggerBody()))"
                        },
                        "runAfter": {}
                    },
                    "Schema_Validation": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@triggerBody()?['employees']",
                                            null
                                        ]
                                    }
                                },
                                {
                                    "not": {
                                        "equals": [
                                            "@triggerBody()?['employees']?['employee']",
                                            null
                                        ]
                                    }
                                },
                                {
                                    "greater": [
                                        "@length(triggerBody()?['employees']?['employee'])",
                                        0
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Initialize_Validation_Errors": {
                                "type": "InitializeVariable",
                                "inputs": {
                                    "variables": [
                                        {
                                            "name": "ValidationErrors",
                                            "type": "array",
                                            "value": []
                                        }
                                    ]
                                },
                                "runAfter": {}
                            },
                            "Log_Schema_Valid": {
                                "type": "Compose",
                                "inputs": {
                                    "logLevel": "INFO",
                                    "timestamp": "@utcNow()",
                                    "message": "Schema validation passed - employees object structure valid",
                                    "employeeCount": "@length(triggerBody()?['employees']?['employee'])"
                                },
                                "runAfter": {
                                    "Initialize_Validation_Errors": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Validate_Each_Employee": {
                                "type": "Foreach",
                                "foreach": "@triggerBody()?['employees']?['employee']",
                                "actions": {
                                    "Check_Employee_Fields": {
                                        "type": "If",
                                        "expression": {
                                            "or": [
                                                {
                                                    "equals": [
                                                        "@items('Validate_Each_Employee')?['id']",
                                                        null
                                                    ]
                                                },
                                                {
                                                    "lessOrEquals": [
                                                        "@coalesce(items('Validate_Each_Employee')?['id'], 0)",
                                                        0
                                                    ]
                                                },
                                                {
                                                    "or": [
                                                        {
                                                            "equals": [
                                                                "@items('Validate_Each_Employee')?['firstName']",
                                                                null
                                                            ]
                                                        },
                                                        {
                                                            "equals": [
                                                                "@trim(string(coalesce(items('Validate_Each_Employee')?['firstName'], '')))",
                                                                ""
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "or": [
                                                        {
                                                            "equals": [
                                                                "@items('Validate_Each_Employee')?['lastName']",
                                                                null
                                                            ]
                                                        },
                                                        {
                                                            "equals": [
                                                                "@trim(string(coalesce(items('Validate_Each_Employee')?['lastName'], '')))",
                                                                ""
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        "actions": {
                                            "Append_Validation_Error": {
                                                "type": "AppendToArrayVariable",
                                                "inputs": {
                                                    "name": "ValidationErrors",
                                                    "value": {
                                                        "employeeId": "@coalesce(items('Validate_Each_Employee')?['id'], 'null')",
                                                        "firstName": "@coalesce(items('Validate_Each_Employee')?['firstName'], 'null')",
                                                        "lastName": "@coalesce(items('Validate_Each_Employee')?['lastName'], 'null')",
                                                        "errors": [
                                                            "@if(or(equals(items('Validate_Each_Employee')?['id'], null), lessOrEquals(coalesce(items('Validate_Each_Employee')?['id'], 0), 0)), 'id: must be a positive integer', '')",
                                                            "@if(or(equals(items('Validate_Each_Employee')?['firstName'], null), equals(trim(string(coalesce(items('Validate_Each_Employee')?['firstName'], ''))), '')), 'firstName: required and cannot be empty', '')",
                                                            "@if(or(equals(items('Validate_Each_Employee')?['lastName'], null), equals(trim(string(coalesce(items('Validate_Each_Employee')?['lastName'], ''))), '')), 'lastName: required and cannot be empty', '')"
                                                        ]
                                                    }
                                                },
                                                "runAfter": {}
                                            }
                                        },
                                        "runAfter": {}
                                    }
                                },
                                "runAfter": {
                                    "Log_Schema_Valid": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Check_Validation_Errors": {
                                "type": "If",
                                "expression": {
                                    "greater": [
                                        "@length(variables('ValidationErrors'))",
                                        0
                                    ]
                                },
                                "actions": {
                                    "Log_Validation_Failed": {
                                        "type": "Compose",
                                        "inputs": {
                                            "logLevel": "ERROR",
                                            "timestamp": "@utcNow()",
                                            "message": "Validation failed for one or more employees",
                                            "errorCount": "@length(variables('ValidationErrors'))",
                                            "errors": "@variables('ValidationErrors')"
                                        },
                                        "runAfter": {}
                                    },
                                    "Return_Validation_Error_Response": {
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "statusCode": 400,
                                            "headers": {
                                                "Content-Type": "application/json"
                                            },
                                            "body": {
                                                "status": "error",
                                                "errorCode": "VALIDATION_ERROR",
                                                "message": "Employee data validation failed",
                                                "details": {
                                                    "validationErrors": "@variables('ValidationErrors')",
                                                    "errorCount": "@length(variables('ValidationErrors'))",
                                                    "totalEmployees": "@length(triggerBody()?['employees']?['employee'])"
                                                },
                                                "timestamp": "@utcNow()",
                                                "runId": "@workflow().run.name"
                                            }
                                        },
                                        "runAfter": {
                                            "Log_Validation_Failed": [
                                                "Succeeded"
                                            ]
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Log_Validation_Passed": {
                                            "type": "Compose",
                                            "inputs": {
                                                "logLevel": "INFO",
                                                "timestamp": "@utcNow()",
                                                "message": "All employee records validated successfully",
                                                "employeeCount": "@length(triggerBody()?['employees']?['employee'])"
                                            },
                                            "runAfter": {}
                                        },
                                        "Log_Database_Call_Start": {
                                            "type": "Compose",
                                            "inputs": {
                                                "logLevel": "INFO",
                                                "timestamp": "@utcNow()",
                                                "message": "Initiating batch upsert to database",
                                                "employeeCount": "@length(triggerBody()?['employees']?['employee'])"
                                            },
                                            "runAfter": {
                                                "Log_Validation_Passed": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "Build_Employee_JSON_Array": {
                                            "type": "Compose",
                                            "inputs": "@triggerBody()?['employees']?['employee']",
                                            "runAfter": {
                                                "Log_Database_Call_Start": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "Execute_Batch_Upsert_SP": {
                                            "type": "ServiceProvider",
                                            "inputs": {
                                                "parameters": {
                                                    "query": "DECLARE @EmployeesJSON NVARCHAR(MAX) = '@{string(outputs('Build_Employee_JSON_Array'))}';\n\nDECLARE @TotalProcessed INT, @TotalInserted INT, @TotalUpdated INT, @ErrorMessage NVARCHAR(4000);\n\nDECLARE @Employees dbo.EmployeeTableType;\n\nINSERT INTO @Employees (EmployeeID, FirstName, LastName, Department, Position, Salary, Email)\nSELECT \n    JSON_VALUE(value, '$.id') AS EmployeeID,\n    JSON_VALUE(value, '$.firstName') AS FirstName,\n    JSON_VALUE(value, '$.lastName') AS LastName,\n    JSON_VALUE(value, '$.department') AS Department,\n    JSON_VALUE(value, '$.position') AS Position,\n    TRY_CAST(JSON_VALUE(value, '$.salary') AS DECIMAL(18,2)) AS Salary,\n    JSON_VALUE(value, '$.email') AS Email\nFROM OPENJSON(@EmployeesJSON);\n\nEXEC dbo.UpsertEmployeeBatch \n    @Employees = @Employees,\n    @TotalProcessed = @TotalProcessed OUTPUT,\n    @TotalInserted = @TotalInserted OUTPUT,\n    @TotalUpdated = @TotalUpdated OUTPUT,\n    @ErrorMessage = @ErrorMessage OUTPUT;\n\nSELECT \n    @TotalProcessed AS TotalProcessed,\n    @TotalInserted AS TotalInserted,\n    @TotalUpdated AS TotalUpdated,\n    @ErrorMessage AS ErrorMessage;"
                                                },
                                                "serviceProviderConfiguration": {
                                                    "connectionName": "sql",
                                                    "operationId": "executeQuery",
                                                    "serviceProviderId": "/serviceProviders/sql"
                                                }
                                            },
                                            "runAfter": {
                                                "Build_Employee_JSON_Array": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "Log_Database_Call_Success": {
                                            "type": "Compose",
                                            "inputs": {
                                                "logLevel": "INFO",
                                                "timestamp": "@utcNow()",
                                                "message": "Batch upsert completed successfully",
                                                "totalProcessed": "@if(not(empty(body('Execute_Batch_Upsert_SP')?['resultSets']?['Table1'])), body('Execute_Batch_Upsert_SP')?['resultSets']?['Table1']?[0]?['TotalProcessed'], 0)",
                                                "totalInserted": "@if(not(empty(body('Execute_Batch_Upsert_SP')?['resultSets']?['Table1'])), body('Execute_Batch_Upsert_SP')?['resultSets']?['Table1']?[0]?['TotalInserted'], 0)",
                                                "totalUpdated": "@if(not(empty(body('Execute_Batch_Upsert_SP')?['resultSets']?['Table1'])), body('Execute_Batch_Upsert_SP')?['resultSets']?['Table1']?[0]?['TotalUpdated'], 0)"
                                            },
                                            "runAfter": {
                                                "Execute_Batch_Upsert_SP": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "Return_Success_Response": {
                                            "type": "Response",
                                            "kind": "Http",
                                            "inputs": {
                                                "statusCode": 200,
                                                "headers": {
                                                    "Content-Type": "application/json"
                                                },
                                                "body": {
                                                    "status": "success",
                                                    "errorCode": null,
                                                    "message": "Employee batch upsert completed successfully",
                                                    "details": {
                                                        "totalProcessed": "@coalesce(body('Execute_Batch_Upsert_SP')?['resultSets']?['Table1']?[0]?['TotalProcessed'], 0)",
                                                        "totalInserted": "@coalesce(body('Execute_Batch_Upsert_SP')?['resultSets']?['Table1']?[0]?['TotalInserted'], 0)",
                                                        "totalUpdated": "@coalesce(body('Execute_Batch_Upsert_SP')?['resultSets']?['Table1']?[0]?['TotalUpdated'], 0)",
                                                        "requestedCount": "@length(triggerBody()?['employees']?['employee'])"
                                                    },
                                                    "timestamp": "@utcNow()",
                                                    "runId": "@workflow().run.name"
                                                }
                                            },
                                            "runAfter": {
                                                "Log_Database_Call_Success": [
                                                    "Succeeded"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Validate_Each_Employee": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "else": {
                            "actions": {
                                "Log_Schema_Invalid": {
                                    "type": "Compose",
                                    "inputs": {
                                        "logLevel": "ERROR",
                                        "timestamp": "@utcNow()",
                                        "message": "Schema validation failed - invalid request structure",
                                        "receivedData": "@triggerBody()"
                                    },
                                    "runAfter": {}
                                },
                                "Return_Schema_Error_Response": {
                                    "type": "Response",
                                    "kind": "Http",
                                    "inputs": {
                                        "statusCode": 400,
                                        "headers": {
                                            "Content-Type": "application/json"
                                        },
                                        "body": {
                                            "status": "error",
                                            "errorCode": "INVALID_SCHEMA",
                                            "message": "Request body does not match expected schema",
                                            "details": {
                                                "expectedStructure": {
                                                    "employees": {
                                                        "employee": [
                                                            {
                                                                "id": "integer (required, > 0)",
                                                                "firstName": "string (required, not empty)",
                                                                "lastName": "string (required, not empty)",
                                                                "department": "string (optional)",
                                                                "position": "string (optional)",
                                                                "salary": "decimal (optional)",
                                                                "email": "string (optional)"
                                                            }
                                                        ]
                                                    }
                                                },
                                                "errors": [
                                                    "@if(equals(triggerBody()?['employees'], null), 'Missing required property: employees', '')",
                                                    "@if(equals(triggerBody()?['employees']?['employee'], null), 'Missing required property: employees.employee', '')",
                                                    "@if(equals(length(coalesce(triggerBody()?['employees']?['employee'], [])), 0), 'employees.employee array cannot be empty', '')"
                                                ]
                                            },
                                            "timestamp": "@utcNow()",
                                            "runId": "@workflow().run.name"
                                        }
                                    },
                                    "runAfter": {
                                        "Log_Schema_Invalid": [
                                            "Succeeded"
                                        ]
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Log_Workflow_Start": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {}
            },
            "Catch_Scope": {
                "type": "Scope",
                "actions": {
                    "Log_Exception": {
                        "type": "Compose",
                        "inputs": {
                            "logLevel": "ERROR",
                            "timestamp": "@utcNow()",
                            "message": "Unhandled exception in workflow",
                            "error": {
                                "code": "@coalesce(actions('Execute_Batch_Upsert_SP')?['error']?['code'], 'UNKNOWN_ERROR')",
                                "message": "@coalesce(actions('Execute_Batch_Upsert_SP')?['error']?['message'], 'An unexpected error occurred')"
                            },
                            "actionResults": {
                                "tryScope": "@result('Try_Scope')",
                                "failedAction": "@coalesce(first(skip(split(string(result('Try_Scope')), ','), 1)), 'Unknown')"
                            }
                        },
                        "runAfter": {}
                    },
                    "Return_Error_Response": {
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                            "statusCode": 500,
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "body": {
                                "status": "error",
                                "errorCode": "INTERNAL_SERVER_ERROR",
                                "message": "An error occurred while processing the employee batch",
                                "details": {
                                    "error": "@coalesce(actions('Execute_Batch_Upsert_SP')?['error']?['message'], 'An unexpected error occurred during processing')",
                                    "technicalDetails": "@outputs('Log_Exception')"
                                },
                                "timestamp": "@utcNow()",
                                "runId": "@workflow().run.name"
                            }
                        },
                        "runAfter": {
                            "Log_Exception": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Try_Scope": [
                        "Failed",
                        "TimedOut",
                        "Skipped"
                    ]
                }
            }
        },
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "employees": {
                                "type": "object",
                                "properties": {
                                    "employee": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "firstName": {
                                                    "type": "string"
                                                },
                                                "lastName": {
                                                    "type": "string"
                                                },
                                                "department": {
                                                    "type": "string"
                                                },
                                                "position": {
                                                    "type": "string"
                                                },
                                                "salary": {
                                                    "type": "number"
                                                },
                                                "email": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "firstName",
                                                "lastName"
                                            ]
                                        }
                                    }
                                },
                                "required": [
                                    "employee"
                                ]
                            }
                        },
                        "required": [
                            "employees"
                        ]
                    }
                }
            }
        },
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        }
    }
}