UpsertEmployeeV2/workflow-backup.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "actions": {
      "LogStartOfWorkflow": {
        "type": "Compose",
        "inputs": {
          "timestamp": "@utcNow()",
          "workflowName": "UpsertEmployee",
          "runId": "@workflow().run.name",
          "triggerBody": "@triggerBody()",
          "logLevel": "INFO",
          "message": "Starting Employee Upsert workflow"
        },
        "runAfter": {}
      },
      "InitializeResults": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ProcessingResults",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "LogStartOfWorkflow": [
            "Succeeded"
          ]
        }
      },
      "ValidateInput": {
        "type": "If",
        "expression": {
          "and": [
            {
              "not": {
                "equals": [
                  "@triggerBody()?['employees']",
                  null
                ]
              }
            },
            {
              "not": {
                "equals": [
                  "@triggerBody()?['employees']?['employee']",
                  null
                ]
              }
            },
            {
              "greater": [
                "@length(triggerBody()?['employees']?['employee'])",
                0
              ]
            }
          ]
        },
        "actions": {
          "LogBatchStart": {
            "type": "Compose",
            "inputs": {
              "timestamp": "@utcNow()",
              "workflowName": "UpsertEmployee",
              "runId": "@workflow().run.name",
              "logLevel": "INFO",
              "message": "Starting batch validation",
              "employeeCount": "@length(triggerBody()?['employees']?['employee'])"
            },
            "runAfter": {}
          },
          "ValidateAllEmployees": {
            "type": "Foreach",
            "foreach": "@triggerBody()?['employees']?['employee']",
            "actions": {
              "ValidateEmployee": {
                "type": "If",
                "expression": {
                  "or": [
                    {
                      "equals": [
                        "@items('ValidateAllEmployees')?['id']",
                        null
                      ]
                    },
                    {
                      "equals": [
                        "@items('ValidateAllEmployees')?['firstName']",
                        ""
                      ]
                    },
                    {
                      "equals": [
                        "@items('ValidateAllEmployees')?['firstName']",
                        null
                      ]
                    },
                    {
                      "equals": [
                        "@items('ValidateAllEmployees')?['lastName']",
                        ""
                      ]
                    },
                    {
                      "equals": [
                        "@items('ValidateAllEmployees')?['lastName']",
                        null
                      ]
                    },
                    {
                      "lessOrEquals": [
                        "@items('ValidateAllEmployees')?['id']",
                        0
                      ]
                    }
                  ]
                },
                "actions": {
                  "FailValidation": {
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 400,
                      "headers": {
                        "Content-Type": "application/json"
                      },
                      "body": {
                        "status": "validation_error",
                        "code": 400,
                        "message": "Employee validation failed. All employees must have valid id, firstName, and lastName.",
                        "data": {
                          "failedEmployee": {
                            "employeeID": "@items('ValidateAllEmployees')?['id']",
                            "firstName": "@items('ValidateAllEmployees')?['firstName']",
                            "lastName": "@items('ValidateAllEmployees')?['lastName']"
                          },
                          "validationErrors": [
                            "@if(equals(items('ValidateAllEmployees')?['id'], null), 'EmployeeID is required', '')",
                            "@if(or(equals(items('ValidateAllEmployees')?['firstName'], ''), equals(items('ValidateAllEmployees')?['firstName'], null)), 'FirstName is required', '')",
                            "@if(or(equals(items('ValidateAllEmployees')?['lastName'], ''), equals(items('ValidateAllEmployees')?['lastName'], null)), 'LastName is required', '')",
                            "@if(lessOrEquals(items('ValidateAllEmployees')?['id'], 0), 'EmployeeID must be greater than 0', '')"
                          ],
                          "expectedStructure": {
                            "employees": {
                              "employee": [
                                {
                                  "id": "integer (required, > 0)",
                                  "firstName": "string (required, not empty)",
                                  "lastName": "string (required, not empty)",
                                  "department": "string (optional)",
                                  "position": "string (optional)",
                                  "salary": "number (optional)",
                                  "email": "string (optional)"
                                }
                              ]
                            }
                          },
                          "timestamp": "@utcNow()",
                          "runId": "@workflow().run.name"
                        }
                      }
                    },
                    "runAfter": {}
                  }
                },
                "runAfter": {}
              }
            },
            "runAfter": {
              "LogBatchStart": [
                "Succeeded"
              ]
            }
          },
          "LogValidationComplete": {
            "type": "Compose",
            "inputs": {
              "timestamp": "@utcNow()",
              "workflowName": "UpsertEmployee",
              "runId": "@workflow().run.name",
              "logLevel": "INFO",
              "message": "All employees passed validation, starting processing",
              "employeeCount": "@length(triggerBody()?['employees']?['employee'])"
            },
            "runAfter": {
              "ValidateAllEmployees": [
                "Succeeded"
              ]
            }
          },
          "ForEachEmployee": {
            "type": "Foreach",
            "foreach": "@triggerBody()?['employees']?['employee']",
            "actions": {
              "Try": {
                "type": "Scope",
                "actions": {
                  "LogEmployeeStart": {
                    "type": "Compose",
                    "inputs": {
                      "timestamp": "@utcNow()",
                      "workflowName": "UpsertEmployee",
                      "runId": "@workflow().run.name",
                      "logLevel": "INFO",
                      "message": "Processing employee",
                      "employeeID": "@items('ForEachEmployee')?['id']",
                      "firstName": "@items('ForEachEmployee')?['firstName']",
                      "lastName": "@items('ForEachEmployee')?['lastName']"
                    },
                    "runAfter": {}
                  },
                  "CheckExistingEmployee": {
                    "type": "ServiceProvider",
                    "inputs": {
                      "parameters": {
                        "query": "SELECT COUNT(*) AS RecordCount FROM Employee WHERE EmployeeID=@EmployeeID AND IsActive=1",
                        "queryParameters": {
                          "EmployeeID": "@items('ForEachEmployee')?['id']"
                        }
                      },
                      "serviceProviderConfiguration": {
                        "connectionName": "sql",
                        "operationId": "executeQuery",
                        "serviceProviderId": "/serviceProviders/sql"
                      }
                    },
                    "runAfter": {
                      "LogEmployeeStart": [
                        "Succeeded"
                      ]
                    }
                  },
                  "LogEmployeeCheckResult": {
                    "type": "Compose",
                    "inputs": {
                      "timestamp": "@utcNow()",
                      "workflowName": "UpsertEmployee",
                      "runId": "@workflow().run.name",
                      "logLevel": "INFO",
                      "message": "Employee existence check completed",
                      "employeeID": "@items('ForEachEmployee')?['id']",
                      "recordCount": "@body('CheckExistingEmployee')[0][0]['RecordCount']"
                    },
                    "runAfter": {
                      "CheckExistingEmployee": [
                        "Succeeded"
                      ]
                    }
                  },
                  "CheckRecordExists": {
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "greater": [
                            "@body('CheckExistingEmployee')[0][0]['RecordCount']",
                            0
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "LogUpdateOperation": {
                        "type": "Compose",
                        "inputs": {
                          "timestamp": "@utcNow()",
                          "workflowName": "UpsertEmployee",
                          "runId": "@workflow().run.name",
                          "logLevel": "INFO",
                          "message": "Updating existing employee",
                          "employeeID": "@items('ForEachEmployee')?['id']",
                          "operation": "UPDATE"
                        },
                        "runAfter": {}
                      },
                      "UpdateEmployee": {
                        "type": "ServiceProvider",
                        "inputs": {
                          "parameters": {
                            "query": "UPDATE Employee SET FirstName=@FirstName, LastName=@LastName, Department=@Department, Position=@Position, Salary=@Salary, Email=@Email WHERE EmployeeID=@EmployeeID AND IsActive=1",
                            "queryParameters": {
                              "EmployeeID": "@items('ForEachEmployee')?['id']",
                              "FirstName": "@items('ForEachEmployee')?['firstName']",
                              "LastName": "@items('ForEachEmployee')?['lastName']",
                              "Department": "@items('ForEachEmployee')?['department']",
                              "Position": "@items('ForEachEmployee')?['position']",
                              "Salary": "@items('ForEachEmployee')?['salary']",
                              "Email": "@items('ForEachEmployee')?['email']"
                            }
                          },
                          "serviceProviderConfiguration": {
                            "connectionName": "sql",
                            "operationId": "executeQuery",
                            "serviceProviderId": "/serviceProviders/sql"
                          }
                        },
                        "runAfter": {
                          "LogUpdateOperation": [
                            "Succeeded"
                          ]
                        }
                      },
                      "AppendUpdateResult": {
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "ProcessingResults",
                          "value": {
                            "employeeID": "@items('ForEachEmployee')?['id']",
                            "firstName": "@items('ForEachEmployee')?['firstName']",
                            "lastName": "@items('ForEachEmployee')?['lastName']",
                            "operation": "UPDATE",
                            "status": "success",
                            "timestamp": "@utcNow()"
                          }
                        },
                        "runAfter": {
                          "UpdateEmployee": [
                            "Succeeded"
                          ]
                        }
                      }
                    },
                    "else": {
                      "actions": {
                        "LogInsertOperation": {
                          "type": "Compose",
                          "inputs": {
                            "timestamp": "@utcNow()",
                            "workflowName": "UpsertEmployee",
                            "runId": "@workflow().run.name",
                            "logLevel": "INFO",
                            "message": "Inserting new employee",
                            "employeeID": "@items('ForEachEmployee')?['id']",
                            "operation": "INSERT"
                          },
                          "runAfter": {}
                        },
                        "InsertEmployee": {
                          "type": "ServiceProvider",
                          "inputs": {
                            "parameters": {
                              "query": "INSERT INTO Employee (EmployeeID, FirstName, LastName, Department, Position, Salary, Email) VALUES (@EmployeeID, @FirstName, @LastName, @Department, @Position, @Salary, @Email)",
                              "queryParameters": {
                                "EmployeeID": "@items('ForEachEmployee')?['id']",
                                "FirstName": "@items('ForEachEmployee')?['firstName']",
                                "LastName": "@items('ForEachEmployee')?['lastName']",
                                "Department": "@items('ForEachEmployee')?['department']",
                                "Position": "@items('ForEachEmployee')?['position']",
                                "Salary": "@items('ForEachEmployee')?['salary']",
                                "Email": "@items('ForEachEmployee')?['email']"
                              }
                            },
                            "serviceProviderConfiguration": {
                              "connectionName": "sql",
                              "operationId": "executeQuery",
                              "serviceProviderId": "/serviceProviders/sql"
                            }
                          },
                          "runAfter": {
                            "LogInsertOperation": [
                              "Succeeded"
                            ]
                          }
                        },
                        "AppendInsertResult": {
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "ProcessingResults",
                            "value": {
                              "employeeID": "@items('ForEachEmployee')?['id']",
                              "firstName": "@items('ForEachEmployee')?['firstName']",
                              "lastName": "@items('ForEachEmployee')?['lastName']",
                              "operation": "INSERT",
                              "status": "success",
                              "timestamp": "@utcNow()"
                            }
                          },
                          "runAfter": {
                            "InsertEmployee": [
                              "Succeeded"
                            ]
                          }
                        }
                      }
                    },
                    "runAfter": {
                      "LogEmployeeCheckResult": [
                        "Succeeded"
                      ]
                    }
                  }
                },
                "runAfter": {}
              },
              "Catch": {
                "type": "Scope",
                "actions": {
                  "FailOnProcessingError": {
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 500,
                      "headers": {
                        "Content-Type": "application/json"
                      },
                      "body": {
                        "status": "error",
                        "code": 500,
                        "message": "Employee processing failed. Operation stopped.",
                        "data": {
                          "failedEmployee": {
                            "employeeID": "@items('ForEachEmployee')?['id']",
                            "firstName": "@items('ForEachEmployee')?['firstName']",
                            "lastName": "@items('ForEachEmployee')?['lastName']"
                          },
                          "errorDetails": {
                            "errorCode": "@{first(result('Try'))?['error']?['code']}",
                            "errorMessage": "@{first(result('Try'))?['error']?['message']}",
                            "innerError": "@{first(result('Try'))?['error']}"
                          },
                          "processedEmployees": "@variables('ProcessingResults')",
                          "timestamp": "@utcNow()",
                          "runId": "@workflow().run.name"
                        }
                      }
                    },
                    "runAfter": {}
                  }
                },
                "runAfter": {
                  "Try": [
                    "Failed",
                    "Skipped",
                    "TimedOut"
                  ]
                }
              }
            },
            "runAfter": {
              "LogValidationComplete": [
                "Succeeded"
              ]
            }
          },
          "LogBatchComplete": {
            "type": "Compose",
            "inputs": {
              "timestamp": "@utcNow()",
              "workflowName": "UpsertEmployee",
              "runId": "@workflow().run.name",
              "logLevel": "INFO",
              "message": "All employees processed successfully",
              "totalEmployees": "@length(triggerBody()?['employees']?['employee'])",
              "successfulOperations": "@length(variables('ProcessingResults'))"
            },
            "runAfter": {
              "ForEachEmployee": [
                "Succeeded"
              ]
            }
          },
          "SuccessResponse": {
            "type": "Response",
            "kind": "Http",
            "inputs": {
              "statusCode": 200,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": {
                "status": "success",
                "code": 200,
                "message": "All employees processed successfully",
                "summary": {
                  "totalEmployees": "@length(triggerBody()?['employees']?['employee'])",
                  "successfulOperations": "@length(variables('ProcessingResults'))",
                  "failedOperations": 0,
                  "timestamp": "@utcNow()",
                  "runId": "@workflow().run.name"
                },
                "results": {
                  "successful": "@variables('ProcessingResults')",
                  "failed": []
                }
              }
            },
            "runAfter": {
              "LogBatchComplete": [
                "Succeeded"
              ]
            }
          }
        },
        "else": {
          "actions": {
            "LogValidationError": {
              "type": "Compose",
              "inputs": {
                "timestamp": "@utcNow()",
                "workflowName": "UpsertEmployee",
                "runId": "@workflow().run.name",
                "logLevel": "ERROR",
                "message": "Input validation failed - missing or invalid employees array",
                "validationErrors": [
                  "@if(equals(triggerBody()?['employees'], null), 'employees object is required', '')",
                  "@if(equals(triggerBody()?['employees']?['employee'], null), 'employee array is required', '')",
                  "@if(lessOrEquals(length(triggerBody()?['employees']?['employee']), 0), 'employee array cannot be empty', '')"
                ],
                "triggerBody": "@triggerBody()"
              },
              "runAfter": {}
            },
            "ValidationErrorResponse": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 400,
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "status": "validation_error",
                  "code": 400,
                  "message": "Input validation failed. Please check the required structure: { \"employees\": { \"employee\": [array of employee objects] } }",
                  "data": {
                    "errors": [
                      "@if(equals(triggerBody()?['employees'], null), 'employees object is required', '')",
                      "@if(equals(triggerBody()?['employees']?['employee'], null), 'employee array is required', '')",
                      "@if(lessOrEquals(length(triggerBody()?['employees']?['employee']), 0), 'employee array cannot be empty', '')"
                    ],
                    "expectedStructure": {
                      "employees": {
                        "employee": [
                          {
                            "id": "integer (required)",
                            "firstName": "string (required)",
                            "lastName": "string (required)",
                            "department": "string (optional)",
                            "position": "string (optional)",
                            "salary": "number (optional)",
                            "email": "string (optional)"
                          }
                        ]
                      }
                    },
                    "timestamp": "@utcNow()",
                    "runId": "@workflow().run.name"
                  }
                }
              },
              "runAfter": {
                "LogValidationError": [
                  "Succeeded"
                ]
              }
            }
          }
        },
        "runAfter": {
          "InitializeResults": [
            "Succeeded"
          ]
        }
      }
    },
    "outputs": {},
    "triggers": {
      "When_a_HTTP_request_is_received": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "method": "POST",
          "schema": {
            "type": "object",
            "properties": {
              "employees": {
                "type": "object",
                "properties": {
                  "employee": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Unique employee identifier (required)"
                        },
                        "firstName": {
                          "type": "string",
                          "description": "Employee first name (required)"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "Employee last name (required)"
                        },
                        "department": {
                          "type": "string",
                          "description": "Employee department (optional)"
                        },
                        "position": {
                          "type": "string",
                          "description": "Employee position/title (optional)"
                        },
                        "salary": {
                          "type": "number",
                          "description": "Employee salary (optional)"
                        },
                        "email": {
                          "type": "string",
                          "description": "Employee email address (optional)"
                        }
                      },
                      "required": [
                        "id",
                        "firstName",
                        "lastName"
                      ]
                    }
                  }
                },
                "required": [
                  "employee"
                ]
              }
            },
            "required": [
              "employees"
            ]
          }
        }
      }
    }
  },
  "kind": "Stateful"
}
