UpsertEmployeeV2/workflow-backup-20251105-214135.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "actions": {
      "LogStartOfWorkflow": {
        "type": "Compose",
        "inputs": {
          "timestamp": "@utcNow()",
          "workflowName": "UpsertEmployee",
          "runId": "@workflow().run.name",
          "triggerBody": "@triggerBody()",
          "logLevel": "INFO",
          "message": "Starting Employee Upsert workflow"
        },
        "runAfter": {}
      },
      "InitializeResults": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ProcessingResults",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "LogStartOfWorkflow": [
            "Succeeded"
          ]
        }
      },
      "InitializeValidationErrors": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ValidationErrors",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "InitializeResults": [
            "Succeeded"
          ]
        }
      },
      "ValidateInput": {
        "type": "If",
        "expression": {
          "and": [
            {
              "not": {
                "equals": [
                  "@triggerBody()?['employees']",
                  null
                ]
              }
            },
            {
              "not": {
                "equals": [
                  "@triggerBody()?['employees']?['employee']",
                  null
                ]
              }
            },
            {
              "greater": [
                "@length(triggerBody()?['employees']?['employee'])",
                0
              ]
            }
          ]
        },
        "actions": {
          "LogValidInput": {
            "type": "Compose",
            "inputs": {
              "timestamp": "@utcNow()",
              "logLevel": "INFO",
              "message": "Starting batch validation",
              "employeeCount": "@length(triggerBody()?['employees']?['employee'])"
            },
            "runAfter": {}
          },
          "ValidateAllEmployees": {
            "type": "Foreach",
            "foreach": "@triggerBody()?['employees']?['employee']",
            "actions": {
              "ValidateEmployee": {
                "type": "If",
                "expression": {
                  "or": [
                    {
                      "equals": [
                        "@items('ValidateAllEmployees')?['id']",
                        null
                      ]
                    },
                    {
                      "equals": [
                        "@items('ValidateAllEmployees')?['firstName']",
                        ""
                      ]
                    },
                    {
                      "equals": [
                        "@items('ValidateAllEmployees')?['firstName']",
                        null
                      ]
                    },
                    {
                      "equals": [
                        "@items('ValidateAllEmployees')?['lastName']",
                        ""
                      ]
                    },
                    {
                      "equals": [
                        "@items('ValidateAllEmployees')?['lastName']",
                        null
                      ]
                    },
                    {
                      "lessOrEquals": [
                        "@items('ValidateAllEmployees')?['id']",
                        0
                      ]
                    }
                  ]
                },
                "actions": {
                  "AddValidationError": {
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "ValidationErrors",
                      "value": {
                        "employeeID": "@items('ValidateAllEmployees')?['id']",
                        "firstName": "@items('ValidateAllEmployees')?['firstName']",
                        "lastName": "@items('ValidateAllEmployees')?['lastName']",
                        "errors": [
                          "@if(equals(items('ValidateAllEmployees')?['id'], null), 'EmployeeID is required', '')",
                          "@if(or(equals(items('ValidateAllEmployees')?['firstName'], ''), equals(items('ValidateAllEmployees')?['firstName'], null)), 'FirstName is required', '')",
                          "@if(or(equals(items('ValidateAllEmployees')?['lastName'], ''), equals(items('ValidateAllEmployees')?['lastName'], null)), 'LastName is required', '')",
                          "@if(lessOrEquals(items('ValidateAllEmployees')?['id'], 0), 'EmployeeID must be greater than 0', '')"
                        ]
                      }
                    },
                    "runAfter": {}
                  }
                },
                "runAfter": {}
              }
            },
            "runAfter": {
              "LogValidInput": [
                "Succeeded"
              ]
            }
          },
          "CheckValidationResults": {
            "type": "If",
            "expression": {
              "greater": [
                "@length(variables('ValidationErrors'))",
                0
              ]
            },
            "actions": {
              "FailValidation": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 400,
                  "headers": {
                    "Content-Type": "application/json"
                  },
                  "body": {
                    "status": "validation_error",
                    "code": 400,
                    "message": "Employee validation failed. All employees must have valid id, firstName, and lastName.",
                    "data": {
                      "validationErrors": "@variables('ValidationErrors')",
                      "errorCount": "@length(variables('ValidationErrors'))",
                      "expectedStructure": {
                        "employees": {
                          "employee": [
                            {
                              "id": "integer (required, > 0)",
                              "firstName": "string (required, not empty)",
                              "lastName": "string (required, not empty)",
                              "department": "string (optional)",
                              "position": "string (optional)",
                              "salary": "number (optional)",
                              "email": "string (optional)"
                            }
                          ]
                        }
                      },
                      "timestamp": "@utcNow()",
                      "runId": "@workflow().run.name"
                    }
                  }
                },
                "runAfter": {}
              }
            },
            "else": {
              "actions": {
                "ProcessEmployees": {
                  "type": "Foreach",
                  "foreach": "@triggerBody()?['employees']?['employee']",
                  "actions": {
                      "UpsertEmployee": {
                      "type": "ServiceProvider",
                      "inputs": {
                        "parameters": {
                          "query": "EXEC UpsertEmployee @ID = @{items('ProcessEmployees')?['id']}, @FirstName = '@{items('ProcessEmployees')?['firstName']}', @LastName = '@{items('ProcessEmployees')?['lastName']}', @Department = '@{items('ProcessEmployees')?['department']}', @Position = '@{items('ProcessEmployees')?['position']}', @Salary = @{if(empty(items('ProcessEmployees')?['salary']), 'NULL', items('ProcessEmployees')?['salary'])}, @Email = '@{items('ProcessEmployees')?['email']}'"
                        },
                        "serviceProviderConfiguration": {
                          "connectionName": "sql",
                          "operationId": "executeQuery",
                          "serviceProviderId": "/serviceProviders/sql"
                        }
                      },
                      "runAfter": {}
                    },
                    "LogEmployeeResult": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "ProcessingResults",
                        "value": {
                          "employeeId": "@items('ProcessEmployees')?['id']",
                          "firstName": "@items('ProcessEmployees')?['firstName']",
                          "lastName": "@items('ProcessEmployees')?['lastName']",
                          "department": "@items('ProcessEmployees')?['department']",
                          "position": "@items('ProcessEmployees')?['position']",
                          "salary": "@items('ProcessEmployees')?['salary']",
                          "email": "@items('ProcessEmployees')?['email']",
                          "status": "@if(equals(outputs('UpsertEmployee')['statusCode'], 200), 'success', 'failed')",
                          "message": "@if(equals(outputs('UpsertEmployee')['statusCode'], 200), 'Employee processed successfully', outputs('UpsertEmployee')?['body']?['message'])",
                          "timestamp": "@utcNow()"
                        }
                      },
                      "runAfter": {
                        "UpsertEmployee": [
                          "Succeeded",
                          "Failed"
                        ]
                      }
                    }
                  },
                  "runAfter": {}
                },
                "CheckProcessingResults": {
                  "type": "If",
                  "expression": {
                    "greater": [
                      "@length(where(variables('ProcessingResults'), lambda('result', equals(item()?['status'], 'failed'))))",
                      0
                    ]
                  },
                  "actions": {
                    "ErrorResponse": {
                      "type": "Response",
                      "kind": "Http",
                      "inputs": {
                        "statusCode": 500,
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "status": "processing_error",
                          "code": 500,
                          "message": "One or more employees failed processing",
                          "data": {
                            "results": "@variables('ProcessingResults')",
                            "successCount": "@length(where(variables('ProcessingResults'), lambda('result', equals(item()?['status'], 'success'))))",
                            "errorCount": "@length(where(variables('ProcessingResults'), lambda('result', equals(item()?['status'], 'failed'))))",
                            "timestamp": "@utcNow()",
                            "runId": "@workflow().run.name"
                          }
                        }
                      },
                      "runAfter": {}
                    }
                  },
                  "else": {
                    "actions": {
                      "SuccessResponse": {
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                          "statusCode": 200,
                          "headers": {
                            "Content-Type": "application/json"
                          },
                          "body": {
                            "status": "success",
                            "code": 200,
                            "message": "All employees processed successfully",
                            "data": {
                              "results": "@variables('ProcessingResults')",
                              "processedCount": "@length(variables('ProcessingResults'))",
                              "timestamp": "@utcNow()",
                              "runId": "@workflow().run.name"
                            }
                          }
                        },
                        "runAfter": {}
                      }
                    }
                  },
                  "runAfter": {
                    "ProcessEmployees": [
                      "Succeeded"
                    ]
                  }
                }
              }
            },
            "runAfter": {
              "ValidateAllEmployees": [
                "Succeeded"
              ]
            }
          }
        },
        "else": {
          "actions": {
            "BadRequestResponse": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 400,
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "status": "bad_request",
                  "code": 400,
                  "message": "Invalid request: missing or empty employee data",
                  "data": {
                    "expectedStructure": {
                      "employees": {
                        "employee": [
                          {
                            "id": "integer (required)",
                            "firstName": "string (required)",
                            "lastName": "string (required)",
                            "department": "string (optional)",
                            "position": "string (optional)",
                            "salary": "number (optional)",
                            "email": "string (optional)"
                          }
                        ]
                      }
                    },
                    "receivedData": "@triggerBody()",
                    "timestamp": "@utcNow()",
                    "runId": "@workflow().run.name"
                  }
                }
              },
              "runAfter": {}
            }
          }
        },
        "runAfter": {
          "InitializeValidationErrors": [
            "Succeeded"
          ]
        }
      }
    },
    "triggers": {
      "When_a_HTTP_request_is_received": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "properties": {
              "employees": {
                "properties": {
                  "employee": {
                    "items": {
                      "properties": {
                        "department": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "position": {
                          "type": "string"
                        },
                        "salary": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "id",
                        "firstName",
                        "lastName"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          }
        }
      }
    },
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    }
  }
}