wf-employee-upsert/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "4.0.0.0",
    "actions": {
      "Initialize_ValidationErrors": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [{ "name": "ValidationErrors", "type": "array", "value": [] }]
        },
        "runAfter": {}
      },
      "Initialize_HasErrors": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [{ "name": "HasErrors", "type": "boolean", "value": false }]
        },
        "runAfter": { "Initialize_ValidationErrors": ["Succeeded"] }
      },
      "Initialize_ProcessedCount": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [{ "name": "ProcessedCount", "type": "integer", "value": 0 }]
        },
        "runAfter": { "Initialize_HasErrors": ["Succeeded"] }
      },
      "Initialize_FailedCount": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [{ "name": "FailedCount", "type": "integer", "value": 0 }]
        },
        "runAfter": { "Initialize_ProcessedCount": ["Succeeded"] }
      },
      "Initialize_FailedEmployees": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [{ "name": "FailedEmployees", "type": "array", "value": [] }]
        },
        "runAfter": { "Initialize_FailedCount": ["Succeeded"] }
      },
      "Log_Workflow_Start": {
        "type": "Compose",
        "inputs": {
          "logLevel": "INFO",
          "timestamp": "@utcNow()",
          "message": "Workflow execution started",
          "workflowName": "@workflow().name",
          "runId": "@workflow().run.name",
          "correlationId": "@workflow().run.id",
          "requestCount": "@length(coalesce(triggerBody()?['employees']?['employee'], createArray()))",
          "requestSize": "@length(string(triggerBody()))",
          "hasRequestBody": "@not(empty(triggerBody()))"
        },
        "runAfter": { "Initialize_FailedEmployees": ["Succeeded"] }
      },
      "Try": {
        "type": "Scope",
        "actions": {
          "Parse_And_Validate_Request": {
            "type": "ParseJson",
            "inputs": {
              "content": "@triggerBody()",
              "schema": {
                "type": "object",
                "properties": {
                  "employees": {
                    "type": "object",
                    "properties": {
                      "employee": {
                        "type": "array",
                        "minItems": 1,
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "minimum": 1
                            },
                            "firstName": {
                              "type": "string",
                              "minLength": 1
                            },
                            "lastName": {
                              "type": "string",
                              "minLength": 1
                            },
                            "department": {
                              "type": ["string", "null"]
                            },
                            "position": {
                              "type": ["string", "null"]
                            },
                            "salary": {
                              "type": ["number", "null"]
                            },
                            "email": {
                              "type": ["string", "null"]
                            }
                          },
                          "required": ["id", "firstName", "lastName"]
                        }
                      }
                    },
                    "required": ["employee"]
                  }
                },
                "required": ["employees"]
              }
            },
            "runAfter": {}
          },
          "Handle_Schema_Validation_Failure": {
            "type": "Scope",
            "actions": {
              "Log_Schema_Validation_Error": {
                "type": "Compose",
                "inputs": {
                  "logLevel": "ERROR",
                  "timestamp": "@utcNow()",
                  "message": "JSON schema validation failed",
                  "workflowName": "@workflow().name",
                  "runId": "@workflow().run.name",
                  "correlationId": "@workflow().run.id",
                  "actionName": "Parse_And_Validate_Request",
                  "errorCode": "SchemaValidationFailed",
                  "errorMessage": "Request does not match expected schema",
                  "requestBodySize": "@length(string(triggerBody()))",
                  "requestBodyPreview": "@if(greater(length(string(triggerBody())), 500), concat(substring(string(triggerBody()), 0, 500), '... [truncated]'), string(triggerBody()))",
                  "validationFailureReason": "Request does not match expected schema structure or field requirements"
                },
                "runAfter": {}
              },
              "Return_Schema_Validation_Error": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 400,
                  "body": {
                    "status": "error",
                    "code": 400,
                    "message": "Request validation failed. Please check the request structure and field requirements.",
                    "details": {
                      "errorType": "SchemaValidationError",
                      "description": "The request must include: { employees: { employee: [array] } }. Each employee must have: id (positive integer), firstName (non-empty string), lastName (non-empty string). Optional fields: department, position, salary, email.",
                      "error": "Schema validation failed"
                    },
                    "timestamp": "@utcNow()",
                    "runId": "@workflow().run.name"
                  }
                },
                "runAfter": {
                  "Log_Schema_Validation_Error": ["Succeeded"]
                }
              }
            },
            "runAfter": {
              "Parse_And_Validate_Request": ["Failed", "Skipped", "TimedOut"]
            }
          },
          "Log_Schema_Valid": {
            "type": "Compose",
            "inputs": {
              "logLevel": "INFO",
              "timestamp": "@utcNow()",
              "message": "Request schema validation passed",
              "workflowName": "@workflow().name",
              "runId": "@workflow().run.name",
              "correlationId": "@workflow().run.id",
              "employeeCount": "@length(body('Parse_And_Validate_Request')?['employees']?['employee'])",
              "employeeIds": "@join(body('Parse_And_Validate_Request')?['employees']?['employee'], ', ')",
              "validationDuration": "@formatDateTime(utcNow(), 'o')",
              "schemaVersion": "employee-upsert-v1.0",
              "allRequiredFieldsPresent": true
            },
            "runAfter": {
              "Parse_And_Validate_Request": ["Succeeded"]
            }
          },
          "Process_Valid_Employees": {
            "type": "Scope",
            "actions": {
              "Log_Starting_Processing": {
                "type": "Compose",
                "inputs": {
                  "logLevel": "INFO",
                  "timestamp": "@utcNow()",
                  "message": "Starting employee processing",
                  "workflowName": "@workflow().name",
                  "runId": "@workflow().run.name",
                  "correlationId": "@workflow().run.id",
                  "employeeCount": "@length(body('Parse_And_Validate_Request')?['employees']?['employee'])",
                  "employeeIdList": "@string(json(concat('[', join(body('Parse_And_Validate_Request')?['employees']?['employee'], ','), ']')))",
                  "processingMode": "Batch",
                  "targetDatabase": "SQL Server",
                  "operation": "Upsert (Insert/Update)",
                  "estimatedDuration": "@concat(mul(length(body('Parse_And_Validate_Request')?['employees']?['employee']), 2), ' seconds')"
                },
                "runAfter": {}
              },
              "Loop_And_Process_Valid_Employees": {
                "type": "Foreach",
                "foreach": "@body('Parse_And_Validate_Request')?['employees']?['employee']",
                      "actions": {
                        "Try_Upsert_Employee": {
                          "type": "Scope",
                          "actions": {
                            "Log_Processing_Employee": {
                              "type": "Compose",
                              "inputs": {
                                "logLevel": "INFO",
                                "timestamp": "@utcNow()",
                                "message": "Processing employee upsert",
                                "workflowName": "@workflow().name",
                                "runId": "@workflow().run.name",
                                "correlationId": "@workflow().run.id",
                                "employeeId": "@items('Loop_And_Process_Valid_Employees')?['id']",
                                "employeeName": "@{items('Loop_And_Process_Valid_Employees')?['firstName']} @{items('Loop_And_Process_Valid_Employees')?['lastName']}",
                                "employeeData": {
                                  "id": "@items('Loop_And_Process_Valid_Employees')?['id']",
                                  "firstName": "@items('Loop_And_Process_Valid_Employees')?['firstName']",
                                  "lastName": "@items('Loop_And_Process_Valid_Employees')?['lastName']",
                                  "department": "@coalesce(items('Loop_And_Process_Valid_Employees')?['department'], 'Not Provided')",
                                  "position": "@coalesce(items('Loop_And_Process_Valid_Employees')?['position'], 'Not Provided')",
                                  "salary": "@coalesce(string(items('Loop_And_Process_Valid_Employees')?['salary']), 'Not Provided')",
                                  "email": "@coalesce(items('Loop_And_Process_Valid_Employees')?['email'], 'Not Provided')"
                                },
                                "operation": "Executing stored procedure usp_Employee_Upsert",
                                "currentProgress": "@{add(variables('ProcessedCount'), variables('FailedCount'))} of @{length(body('Parse_And_Validate_Request')?['employees']?['employee'])}"
                              },
                              "runAfter": {}
                            },
                            "Upsert_Employee": {
                              "type": "ServiceProvider",
                              "inputs": {
                                "parameters": {
                                  "query": "EXEC usp_Employee_Upsert @ID=@{items('Loop_And_Process_Valid_Employees')?['id']},@FirstName='@{replace(items('Loop_And_Process_Valid_Employees')?['firstName'],'''','''''')}',@LastName='@{replace(items('Loop_And_Process_Valid_Employees')?['lastName'],'''','''''')}',@Department='@{replace(coalesce(items('Loop_And_Process_Valid_Employees')?['department'],''),'''','''''')}',@Position='@{replace(coalesce(items('Loop_And_Process_Valid_Employees')?['position'],''),'''','''''')}',@Salary=@{coalesce(items('Loop_And_Process_Valid_Employees')?['salary'],'NULL')},@Email='@{replace(coalesce(items('Loop_And_Process_Valid_Employees')?['email'],''),'''','''''')}'"
                                },
                                "serviceProviderConfiguration": {
                                  "connectionName": "sql",
                                  "operationId": "executeQuery",
                                  "serviceProviderId": "/serviceProviders/sql"
                                }
                              },
                              "runAfter": { "Log_Processing_Employee": ["Succeeded"] }
                            },
                            "Log_Employee_Success": {
                              "type": "Compose",
                              "inputs": {
                                "logLevel": "INFO",
                                "timestamp": "@utcNow()",
                                "message": "Employee upserted successfully",
                                "workflowName": "@workflow().name",
                                "runId": "@workflow().run.name",
                                "correlationId": "@workflow().run.id",
                                "employeeId": "@items('Loop_And_Process_Valid_Employees')?['id']",
                                "employeeName": "@{items('Loop_And_Process_Valid_Employees')?['firstName']} @{items('Loop_And_Process_Valid_Employees')?['lastName']}",
                                "actionName": "Upsert_Employee",
                                "actionStatus": "Succeeded",
                                "databaseResponse": "@body('Upsert_Employee')",
                                "sqlOperation": "usp_Employee_Upsert",
                                "successCount": "@add(variables('ProcessedCount'), 1)"
                              },
                              "runAfter": { "Upsert_Employee": ["Succeeded"] }
                            },
                            "Increment_ProcessCount": {
                              "type": "IncrementVariable",
                              "inputs": { "name": "ProcessedCount", "value": 1 },
                              "runAfter": { "Log_Employee_Success": ["Succeeded"] }
                            }
                          },
                          "runAfter": {}
                        },
                        "Catch_Upsert_Error": {
                          "type": "Scope",
                          "actions": {
                            "Log_Employee_Error": {
                              "type": "Compose",
                              "inputs": {
                                "logLevel": "ERROR",
                                "timestamp": "@utcNow()",
                                "message": "Failed to upsert employee",
                                "workflowName": "@workflow().name",
                                "runId": "@workflow().run.name",
                                "correlationId": "@workflow().run.id",
                                "employeeId": "@items('Loop_And_Process_Valid_Employees')?['id']",
                                "employeeName": "@{items('Loop_And_Process_Valid_Employees')?['firstName']} @{items('Loop_And_Process_Valid_Employees')?['lastName']}",
                                "employeeData": "@items('Loop_And_Process_Valid_Employees')",
                                "actionName": "Upsert_Employee",
                                "actionStatus": "@result('Try_Upsert_Employee')?[0]?['status']",
                                "errorCode": "@result('Try_Upsert_Employee')?[0]?['code']",
                                "errorMessage": "@coalesce(result('Try_Upsert_Employee')?[0]?['error']?['message'], 'Unknown error')",
                                "errorDetails": "@result('Try_Upsert_Employee')?[0]?['error']",
                                "sqlQuery": "EXEC usp_Employee_Upsert with parameters",
                                "failureType": "@if(equals(result('Try_Upsert_Employee')?[0]?['status'], 'TimedOut'), 'Timeout', if(equals(result('Try_Upsert_Employee')?[0]?['status'], 'Failed'), 'DatabaseError', 'Unknown'))",
                                "retryable": "@contains(string(result('Try_Upsert_Employee')?[0]?['error']?['message']), 'timeout')",
                                "failedCount": "@add(variables('FailedCount'), 1)",
                                "troubleshooting": "Check database connectivity, SQL query syntax, and employee data validity"
                              },
                              "runAfter": {}
                            },
                            "Add_To_Failed_Employees": {
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "FailedEmployees",
                                "value": {
                                  "id": "@items('Loop_And_Process_Valid_Employees')?['id']",
                                  "firstName": "@items('Loop_And_Process_Valid_Employees')?['firstName']",
                                  "lastName": "@items('Loop_And_Process_Valid_Employees')?['lastName']",
                                  "error": "@coalesce(result('Try_Upsert_Employee')?[0]?['error']?['message'], 'Unknown error')",
                                  "timestamp": "@utcNow()"
                                }
                              },
                              "runAfter": { "Log_Employee_Error": ["Succeeded"] }
                            },
                            "Increment_FailedCount": {
                              "type": "IncrementVariable",
                              "inputs": { "name": "FailedCount", "value": 1 },
                              "runAfter": { "Add_To_Failed_Employees": ["Succeeded"] }
                            }
                          },
                          "runAfter": { "Try_Upsert_Employee": ["Failed", "Skipped", "TimedOut"] }
                        }
                      },
                "runAfter": { "Log_Starting_Processing": ["Succeeded"] }
              },
              "Log_Processing_Complete": {
                "type": "Compose",
                "inputs": {
                  "logLevel": "INFO",
                  "timestamp": "@utcNow()",
                  "message": "Employee processing completed",
                  "workflowName": "@workflow().name",
                  "runId": "@workflow().run.name",
                  "correlationId": "@workflow().run.id",
                  "totalRequested": "@length(body('Parse_And_Validate_Request')?['employees']?['employee'])",
                  "totalProcessed": "@variables('ProcessedCount')",
                  "totalFailed": "@variables('FailedCount')",
                  "successRate": "@concat(string(div(mul(variables('ProcessedCount'), 100), length(body('Parse_And_Validate_Request')?['employees']?['employee']))), '%')",
                  "failureRate": "@concat(string(div(mul(variables('FailedCount'), 100), length(body('Parse_And_Validate_Request')?['employees']?['employee']))), '%')",
                  "processingStatus": "@if(equals(variables('FailedCount'), 0), 'All Success', if(equals(variables('ProcessedCount'), 0), 'All Failed', 'Partial Success'))",
                  "failedEmployeeIds": "@if(greater(length(variables('FailedEmployees')), 0), join(body('Parse_And_Validate_Request')?['employees']?['employee'], ', '), 'None')",
                  "executionEndTime": "@utcNow()",
                  "totalDuration": "@formatDateTime(utcNow(), 'o')"
                },
                "runAfter": { "Loop_And_Process_Valid_Employees": ["Succeeded", "Failed", "Skipped", "TimedOut"] }
              },
              "Check_Any_Failures": {
                "type": "If",
                "expression": { "greater": ["@variables('FailedCount')", 0] },
                "actions": {
                  "Log_Partial_Success": {
                    "type": "Compose",
                    "inputs": {
                      "logLevel": "WARN",
                      "timestamp": "@utcNow()",
                      "message": "Partial success - Some employees failed to process",
                      "workflowName": "@workflow().name",
                      "runId": "@workflow().run.name",
                      "correlationId": "@workflow().run.id",
                      "responseCode": 207,
                      "totalRequested": "@length(body('Parse_And_Validate_Request')?['employees']?['employee'])",
                      "successfulOperations": "@variables('ProcessedCount')",
                      "failedOperations": "@variables('FailedCount')",
                      "successRate": "@concat(string(div(mul(variables('ProcessedCount'), 100), length(body('Parse_And_Validate_Request')?['employees']?['employee']))), '%')",
                      "failedEmployeesCount": "@length(variables('FailedEmployees'))",
                      "failedEmployeeIds": "@string(variables('FailedEmployees'))",
                      "recommendedAction": "Review failed employees and retry individually"
                    },
                    "runAfter": {}
                  },
                  "Return_Partial_Success": {
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 207,
                      "body": {
                        "status": "partial_success",
                        "code": 207,
                        "message": "Some employees processed successfully, others failed",
                        "details": {
                          "totalRequested": "@length(body('Parse_And_Validate_Request')?['employees']?['employee'])",
                          "successfulOperations": "@variables('ProcessedCount')",
                          "failedOperations": "@variables('FailedCount')",
                          "successRate": "@concat(string(div(mul(variables('ProcessedCount'), 100), length(body('Parse_And_Validate_Request')?['employees']?['employee']))), '%')",
                          "failedEmployees": "@variables('FailedEmployees')"
                        },
                        "timestamp": "@utcNow()",
                        "runId": "@workflow().run.name",
                        "correlationId": "@workflow().run.id"
                      }
                    },
                    "runAfter": {
                      "Log_Partial_Success": ["Succeeded"]
                    }
                  }
                },
                "else": {
                  "actions": {
                    "Log_Complete_Success": {
                      "type": "Compose",
                      "inputs": {
                        "logLevel": "INFO",
                        "timestamp": "@utcNow()",
                        "message": "All employees processed successfully - 100% success rate",
                        "workflowName": "@workflow().name",
                        "runId": "@workflow().run.name",
                        "correlationId": "@workflow().run.id",
                        "responseCode": 200,
                        "totalProcessed": "@variables('ProcessedCount')",
                        "requestedCount": "@length(body('Parse_And_Validate_Request')?['employees']?['employee'])",
                        "successRate": "100%",
                        "failureCount": 0,
                        "executionEndTime": "@utcNow()"
                      },
                      "runAfter": {}
                    },
                    "Return_Success": {
                      "type": "Response",
                      "kind": "Http",
                      "inputs": {
                        "statusCode": 200,
                        "body": {
                          "status": "success",
                          "code": 200,
                          "message": "All employees processed successfully",
                          "details": {
                            "totalProcessed": "@variables('ProcessedCount')",
                            "requestedCount": "@length(body('Parse_And_Validate_Request')?['employees']?['employee'])",
                            "successRate": "100%"
                          },
                          "timestamp": "@utcNow()",
                          "runId": "@workflow().run.name",
                          "correlationId": "@workflow().run.id"
                        }
                      },
                      "runAfter": {
                        "Log_Complete_Success": ["Succeeded"]
                      }
                    }
                  }
                },
                "runAfter": { "Log_Processing_Complete": ["Succeeded"] }
              }
            },
            "runAfter": {
              "Log_Schema_Valid": ["Succeeded"]
            }
          }
        },
        "runAfter": { "Log_Workflow_Start": ["Succeeded"] }
      },
      "Catch": {
        "type": "Scope",
        "actions": {
          "Filter_Try_Scope_Errors": {
            "type": "Query",
            "inputs": {
              "from": "@result('Try')",
              "where": "@equals(item()?['status'], 'Failed')"
            },
            "runAfter": {}
          },
          "Format_Errors": {
            "type": "Select",
            "inputs": {
              "from": "@body('Filter_Try_Scope_Errors')",
              "select": {
                "action": "@item()?['name']",
                "errorCode": "@item()?['code']",
                "errorMessage": "@item()?['error']?['message']",
                "status": "@item()?['status']"
              }
            },
            "runAfter": {
              "Filter_Try_Scope_Errors": ["Succeeded"]
            }
          },
          "Log_Critical_Error": {
            "type": "Compose",
            "inputs": {
              "logLevel": "CRITICAL",
              "timestamp": "@utcNow()",
              "message": "Critical error in workflow execution - Workflow terminated",
              "workflowName": "@workflow().name",
              "runId": "@workflow().run.name",
              "correlationId": "@workflow().run.id",
              "failureTime": "@utcNow()",
              "failedScope": "Try",
              "failedActions": "@body('Format_Errors')",
              "errorCount": "@length(body('Format_Errors'))",
              "firstError": "@if(greater(length(body('Format_Errors')), 0), body('Format_Errors')[0], null)",
              "errorMessage": "@join(body('Format_Errors'), '; ')",
              "requestBodySize": "@length(string(triggerBody()))",
              "impactedEmployees": "@length(coalesce(triggerBody()?['employees']?['employee'], createArray()))",
              "recoveryAction": "Review error details, fix issues, and retry the request",
              "alertSeverity": "High",
              "requiresInvestigation": true
            },
            "runAfter": {
              "Format_Errors": ["Succeeded"]
            }
          },
          "Terminate": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Failed",
              "runError": {
                "code": "500",
                "message": "One or more errors occurred while processing the request:\n\n@{body('Format_Errors')}"
              }
            },
            "runAfter": {
              "Log_Critical_Error": ["Succeeded"]
            }
          }
        },
        "runAfter": {
          "Try": ["Failed", "Skipped", "TimedOut"]
        }
      }
    },
    "triggers": {
      "When_a_HTTP_request_is_received": {
        "type": "Request",
        "kind": "Http",
        "inputs": {}
      }
    },
    "parameters": {
      "$connections": { "defaultValue": {}, "type": "Object" }
    }
  },
  "kind": "Stateful"
}
