wf-employee-upsert/workflow-old.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "4.0.0.0",
    "actions": {
      "Initialize_ValidationErrors": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [{ "name": "ValidationErrors", "type": "array", "value": [] }]
        },
        "runAfter": {}
      },
      "Initialize_HasErrors": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [{ "name": "HasErrors", "type": "boolean", "value": false }]
        },
        "runAfter": { "Initialize_ValidationErrors": ["Succeeded"] }
      },
      "Initialize_ProcessedCount": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [{ "name": "ProcessedCount", "type": "integer", "value": 0 }]
        },
        "runAfter": { "Initialize_HasErrors": ["Succeeded"] }
      },
      "Initialize_FailedCount": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [{ "name": "FailedCount", "type": "integer", "value": 0 }]
        },
        "runAfter": { "Initialize_ProcessedCount": ["Succeeded"] }
      },
      "Initialize_FailedEmployees": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [{ "name": "FailedEmployees", "type": "array", "value": [] }]
        },
        "runAfter": { "Initialize_FailedCount": ["Succeeded"] }
      },
      "Log_Workflow_Start": {
        "type": "Compose",
        "inputs": {
          "logLevel": "INFO",
          "timestamp": "@utcNow()",
          "message": "Workflow execution started",
          "runId": "@workflow().run.name",
          "requestCount": "@length(coalesce(triggerBody()?['employees']?['employee'], createArray()))"
        },
        "runAfter": { "Initialize_FailedEmployees": ["Succeeded"] }
      },
      "Try_Process_Request": {
        "type": "Scope",
        "actions": {
          "Check_Schema": {
            "type": "If",
            "expression": {
              "and": [
                { "not": { "equals": ["@triggerBody()?['employees']", null] } },
                { "not": { "equals": ["@triggerBody()?['employees']?['employee']", null] } },
                { "greater": ["@length(triggerBody()?['employees']?['employee'])", 0] }
              ]
            },
            "actions": {
              "Log_Schema_Valid": {
                "type": "Compose",
                "inputs": {
                  "logLevel": "INFO",
                  "timestamp": "@utcNow()",
                  "message": "Request schema validation passed",
                  "employeeCount": "@length(triggerBody()?['employees']?['employee'])"
                },
                "runAfter": {}
              },
              "Validate_Employees": {
                "type": "Foreach",
                "foreach": "@triggerBody()?['employees']?['employee']",
                "actions": {
                  "Check_Fields": {
                    "type": "If",
                    "expression": {
                      "or": [
                        { "equals": ["@items('Validate_Employees')?['id']", null] },
                        { "lessOrEquals": ["@coalesce(items('Validate_Employees')?['id'], 0)", 0] },
                        { "or": [
                            { "equals": ["@items('Validate_Employees')?['firstName']", null] },
                            { "equals": ["@trim(string(coalesce(items('Validate_Employees')?['firstName'], '')))", ""] }
                        ]},
                        { "or": [
                            { "equals": ["@items('Validate_Employees')?['lastName']", null] },
                            { "equals": ["@trim(string(coalesce(items('Validate_Employees')?['lastName'], '')))", ""] }
                        ]}
                      ]
                    },
                    "actions": {
                      "Log_Validation_Error": {
                        "type": "Compose",
                        "inputs": {
                          "logLevel": "WARN",
                          "timestamp": "@utcNow()",
                          "message": "Employee validation failed",
                          "employeeId": "@coalesce(items('Validate_Employees')?['id'], 'null')",
                          "firstName": "@coalesce(items('Validate_Employees')?['firstName'], 'null')",
                          "lastName": "@coalesce(items('Validate_Employees')?['lastName'], 'null')"
                        },
                        "runAfter": {}
                      },
                      "Append_Error": {
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "ValidationErrors",
                          "value": {
                            "id": "@coalesce(items('Validate_Employees')?['id'], 'null')",
                            "firstName": "@coalesce(items('Validate_Employees')?['firstName'], 'null')",
                            "lastName": "@coalesce(items('Validate_Employees')?['lastName'], 'null')",
                            "error": "Invalid or missing required fields"
                          }
                        },
                        "runAfter": { "Log_Validation_Error": ["Succeeded"] }
                      },
                      "Set_Error_Flag": {
                        "type": "SetVariable",
                        "inputs": { "name": "HasErrors", "value": true },
                        "runAfter": { "Append_Error": ["Succeeded"] }
                      }
                    },
                    "runAfter": {}
                  }
                },
                "runAfter": { "Log_Schema_Valid": ["Succeeded"] }
              },
              "Process_Or_Error": {
                "type": "If",
                "expression": { "equals": ["@variables('HasErrors')", true] },
                "actions": {
                  "Log_Returning_Validation_Error": {
                    "type": "Compose",
                    "inputs": {
                      "logLevel": "ERROR",
                      "timestamp": "@utcNow()",
                      "message": "Returning validation error response",
                      "errorCount": "@length(variables('ValidationErrors'))"
                    },
                    "runAfter": {}
                  },
                  "Return_Validation_Error": {
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 400,
                      "body": {
                        "status": "error",
                        "code": 400,
                        "message": "Employee validation failed",
                        "details": { 
                          "errors": "@variables('ValidationErrors')",
                          "totalErrors": "@length(variables('ValidationErrors'))"
                        },
                        "timestamp": "@utcNow()",
                        "runId": "@workflow().run.name"
                      }
                    },
                    "runAfter": { "Log_Returning_Validation_Error": ["Succeeded"] }
                  }
                },
                "else": {
                  "actions": {
                    "Log_Starting_Processing": {
                      "type": "Compose",
                      "inputs": {
                        "logLevel": "INFO",
                        "timestamp": "@utcNow()",
                        "message": "Starting employee processing",
                        "employeeCount": "@length(triggerBody()?['employees']?['employee'])"
                      },
                      "runAfter": {}
                    },
                    "Process_Employees": {
                      "type": "Foreach",
                      "foreach": "@triggerBody()?['employees']?['employee']",
                      "actions": {
                        "Try_Upsert_Employee": {
                          "type": "Scope",
                          "actions": {
                            "Log_Processing_Employee": {
                              "type": "Compose",
                              "inputs": {
                                "logLevel": "INFO",
                                "timestamp": "@utcNow()",
                                "message": "Processing employee",
                                "employeeId": "@items('Process_Employees')?['id']",
                                "employeeName": "@{items('Process_Employees')?['firstName']} @{items('Process_Employees')?['lastName']}"
                              },
                              "runAfter": {}
                            },
                            "Upsert_Employee": {
                              "type": "ServiceProvider",
                              "inputs": {
                                "parameters": {
                                  "query": "EXEC usp_Employee_Upsert @ID=@{items('Process_Employees')?['id']},@FirstName='@{replace(items('Process_Employees')?['firstName'],'''','''''')}',@LastName='@{replace(items('Process_Employees')?['lastName'],'''','''''')}',@Department='@{replace(coalesce(items('Process_Employees')?['department'],''),'''','''''')}',@Position='@{replace(coalesce(items('Process_Employees')?['position'],''),'''','''''')}',@Salary=@{coalesce(items('Process_Employees')?['salary'],'NULL')},@Email='@{replace(coalesce(items('Process_Employees')?['email'],''),'''','''''')}'"
                                },
                                "serviceProviderConfiguration": {
                                  "connectionName": "sql",
                                  "operationId": "executeQuery",
                                  "serviceProviderId": "/serviceProviders/sql"
                                }
                              },
                              "runAfter": { "Log_Processing_Employee": ["Succeeded"] }
                            },
                            "Log_Employee_Success": {
                              "type": "Compose",
                              "inputs": {
                                "logLevel": "INFO",
                                "timestamp": "@utcNow()",
                                "message": "Employee upserted successfully",
                                "employeeId": "@items('Process_Employees')?['id']",
                                "employeeName": "@{items('Process_Employees')?['firstName']} @{items('Process_Employees')?['lastName']}"
                              },
                              "runAfter": { "Upsert_Employee": ["Succeeded"] }
                            },
                            "Increment_ProcessCount": {
                              "type": "IncrementVariable",
                              "inputs": { "name": "ProcessedCount", "value": 1 },
                              "runAfter": { "Log_Employee_Success": ["Succeeded"] }
                            }
                          },
                          "runAfter": {}
                        },
                        "Catch_Upsert_Error": {
                          "type": "Scope",
                          "actions": {
                            "Log_Employee_Error": {
                              "type": "Compose",
                              "inputs": {
                                "logLevel": "ERROR",
                                "timestamp": "@utcNow()",
                                "message": "Failed to upsert employee",
                                "employeeId": "@items('Process_Employees')?['id']",
                                "employeeName": "@{items('Process_Employees')?['firstName']} @{items('Process_Employees')?['lastName']}",
                                "error": "@result('Try_Upsert_Employee')?[0]?['error']",
                                "errorMessage": "@coalesce(result('Try_Upsert_Employee')?[0]?['error']?['message'], 'Unknown error')"
                              },
                              "runAfter": {}
                            },
                            "Append_Failed_Employee": {
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "FailedEmployees",
                                "value": {
                                  "id": "@items('Process_Employees')?['id']",
                                  "firstName": "@items('Process_Employees')?['firstName']",
                                  "lastName": "@items('Process_Employees')?['lastName']",
                                  "error": "@coalesce(result('Try_Upsert_Employee')?[0]?['error']?['message'], 'Unknown error')",
                                  "timestamp": "@utcNow()"
                                }
                              },
                              "runAfter": { "Log_Employee_Error": ["Succeeded"] }
                            },
                            "Increment_FailedCount": {
                              "type": "IncrementVariable",
                              "inputs": { "name": "FailedCount", "value": 1 },
                              "runAfter": { "Append_Failed_Employee": ["Succeeded"] }
                            }
                          },
                          "runAfter": { "Try_Upsert_Employee": ["Failed", "Skipped", "TimedOut"] }
                        }
                      },
                      "runAfter": { "Log_Starting_Processing": ["Succeeded"] }
                    },
                    "Log_Processing_Complete": {
                      "type": "Compose",
                      "inputs": {
                        "logLevel": "INFO",
                        "timestamp": "@utcNow()",
                        "message": "Employee processing completed",
                        "totalProcessed": "@variables('ProcessedCount')",
                        "totalFailed": "@variables('FailedCount')",
                        "totalRequested": "@length(triggerBody()?['employees']?['employee'])"
                      },
                      "runAfter": { "Process_Employees": ["Succeeded", "Failed", "Skipped", "TimedOut"] }
                    },
                    "Check_Any_Failures": {
                      "type": "If",
                      "expression": { "greater": ["@variables('FailedCount')", 0] },
                      "actions": {
                        "Return_Partial_Success": {
                          "type": "Response",
                          "kind": "Http",
                          "inputs": {
                            "statusCode": 207,
                            "body": {
                              "status": "partial_success",
                              "code": 207,
                              "message": "Some employees processed successfully, others failed",
                              "details": {
                                "totalRequested": "@length(triggerBody()?['employees']?['employee'])",
                                "successfulOperations": "@variables('ProcessedCount')",
                                "failedOperations": "@variables('FailedCount')",
                                "failedEmployees": "@variables('FailedEmployees')"
                              },
                              "timestamp": "@utcNow()",
                              "runId": "@workflow().run.name"
                            }
                          },
                          "runAfter": {}
                        }
                      },
                      "else": {
                        "actions": {
                          "Return_Success": {
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                              "statusCode": 200,
                              "body": {
                                "status": "success",
                                "code": 200,
                                "message": "All employees processed successfully",
                                "details": {
                                  "totalProcessed": "@variables('ProcessedCount')",
                                  "requestedCount": "@length(triggerBody()?['employees']?['employee'])"
                                },
                                "timestamp": "@utcNow()",
                                "runId": "@workflow().run.name"
                              }
                            },
                            "runAfter": {}
                          }
                        }
                      },
                      "runAfter": { "Log_Processing_Complete": ["Succeeded"] }
                    }
                  }
                },
                "runAfter": { "Validate_Employees": ["Succeeded"] }
              }
            },
            "else": {
              "actions": {
                "Log_Schema_Invalid": {
                  "type": "Compose",
                  "inputs": {
                    "logLevel": "ERROR",
                    "timestamp": "@utcNow()",
                    "message": "Request schema validation failed",
                    "requestBody": "@triggerBody()"
                  },
                  "runAfter": {}
                },
                "Return_Schema_Error": {
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 400,
                    "body": {
                      "status": "error",
                      "code": 400,
                      "message": "Invalid request structure. Expected: { employees: { employee: [array] } }",
                      "timestamp": "@utcNow()",
                      "runId": "@workflow().run.name"
                    }
                  },
                  "runAfter": { "Log_Schema_Invalid": ["Succeeded"] }
                }
              }
            },
            "runAfter": {}
          }
        },
        "runAfter": { "Log_Workflow_Start": ["Succeeded"] }
      },
      "Catch_Global_Error": {
        "type": "Scope",
        "actions": {
          "Log_Global_Error": {
            "type": "Compose",
            "inputs": {
              "logLevel": "CRITICAL",
              "timestamp": "@utcNow()",
              "message": "Unexpected workflow error occurred",
              "error": "@result('Try_Process_Request')?[0]?['error']",
              "errorMessage": "@coalesce(result('Try_Process_Request')?[0]?['error']?['message'], 'Unknown critical error')",
              "requestBody": "@triggerBody()"
            },
            "runAfter": {}
          },
          "Return_Server_Error": {
            "type": "Response",
            "kind": "Http",
            "inputs": {
              "statusCode": 500,
              "body": {
                "status": "error",
                "code": 500,
                "message": "An unexpected error occurred while processing the request",
                "details": {
                  "error": "Internal server error",
                  "errorCode": "@coalesce(result('Try_Process_Request')?[0]?['error']?['code'], 'UNKNOWN_ERROR')"
                },
                "timestamp": "@utcNow()",
                "runId": "@workflow().run.name"
              }
            },
            "runAfter": { "Log_Global_Error": ["Succeeded"] }
          }
        },
        "runAfter": { "Try_Process_Request": ["Failed", "Skipped", "TimedOut"] }
      }
    },
    "triggers": {
      "When_a_HTTP_request_is_received": {
        "type": "Request",
        "kind": "Http",
        "inputs": {}
      }
    },
    "parameters": {
      "$connections": { "defaultValue": {}, "type": "Object" }
    }
  },
  "kind": "Stateful"
}
