wf-employee-upsert/workflow.batch.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "5.1.0.0",
    "actions": {
      "Log_Workflow_Start": {
        "type": "Compose",
        "inputs": {
          "workflowName": "@workflow().name",
          "runId": "@workflow().run.name",
          "requestCount": "@length(coalesce(triggerBody()?['employees']?['employee'], createArray()))",
          "timestamp": "@utcNow()"
        },
        "runAfter": {},
        "trackedProperties": {
          "logLevel": "INFO",
          "message": "Workflow_Started_Batch_Processing",
          "runId": "@workflow().run.name",
          "employeeCount": "@length(coalesce(triggerBody()?['employees']?['employee'], createArray()))"
        }
      },
      "Try": {
        "type": "Scope",
        "actions": {
          "Parse_And_Validate_Request": {
            "type": "ParseJson",
            "inputs": {
              "content": "@triggerBody()",
              "schema": {
                "type": "object",
                "properties": {
                  "employees": {
                    "type": "object",
                    "properties": {
                      "employee": {
                        "type": "array",
                        "minItems": 1,
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "minimum": 1
                            },
                            "firstName": {
                              "type": "string",
                              "minLength": 1
                            },
                            "lastName": {
                              "type": "string",
                              "minLength": 1
                            },
                            "department": {
                              "type": ["string", "null"]
                            },
                            "position": {
                              "type": ["string", "null"]
                            },
                            "salary": {
                              "type": ["number", "null"]
                            },
                            "email": {
                              "type": ["string", "null"]
                            }
                          },
                          "required": ["id", "firstName", "lastName"]
                        }
                      }
                    },
                    "required": ["employee"]
                  }
                },
                "required": ["employees"]
              }
            },
            "runAfter": {},
            "trackedProperties": {
              "logLevel": "INFO",
              "message": "Request_Validation_Success",
              "runId": "@workflow().run.name",
              "employeeCount": "@length(body('Parse_And_Validate_Request')?['employees']?['employee'])"
            }
          },
          "Build_Batch_SQL_Query": {
            "type": "Compose",
            "inputs": "@concat('DECLARE @Employees dbo.EmployeeTableType; ', join(body('Create_Insert_Statements'), ' '), ' EXEC dbo.usp_Employee_Upsert_Batch @Employees = @Employees;')",
            "runAfter": {
              "Create_Insert_Statements": ["Succeeded"]
            }
          },
          "Create_Insert_Statements": {
            "type": "Select",
            "inputs": {
              "from": "@body('Parse_And_Validate_Request')?['employees']?['employee']",
              "select": "@concat('INSERT INTO @Employees (Id, FirstName, LastName, Department, Position, Salary, Email) VALUES (', item()?['id'], ', ''', replace(item()?['firstName'], '''', ''''''), ''', ''', replace(item()?['lastName'], '''', ''''''), ''', ', if(empty(item()?['department']), 'NULL', concat('''', replace(item()?['department'], '''', ''''''), '''')), ', ', if(empty(item()?['position']), 'NULL', concat('''', replace(item()?['position'], '''', ''''''), '''')), ', ', if(empty(item()?['salary']), 'NULL', string(item()?['salary'])), ', ', if(empty(item()?['email']), 'NULL', concat('''', replace(item()?['email'], '''', ''''''), '''')), ');')"
            },
            "runAfter": {
              "Parse_And_Validate_Request": ["Succeeded"]
            }
          },
          "Execute_Batch_Upsert": {
            "type": "ServiceProvider",
            "inputs": {
              "parameters": {
                "query": "@outputs('Build_Batch_SQL_Query')"
              },
              "serviceProviderConfiguration": {
                "connectionName": "sql",
                "operationId": "executeQuery",
                "serviceProviderId": "/serviceProviders/sql"
              }
            },
            "runAfter": {
              "Build_Batch_SQL_Query": ["Succeeded"]
            },
            "trackedProperties": {
              "logLevel": "INFO",
              "message": "Executing_Batch_Upsert",
              "runId": "@workflow().run.name",
              "employeeCount": "@length(body('Parse_And_Validate_Request')?['employees']?['employee'])"
            }
          },
          "Parse_SP_Result": {
            "type": "ParseJson",
            "inputs": {
              "content": "@body('Execute_Batch_Upsert')?['resultSets']?['Table1']?[0]",
              "schema": {
                "type": "object",
                "properties": {
                  "Status": {
                    "type": "string"
                  },
                  "Message": {
                    "type": "string"
                  },
                  "ErrorCode": {
                    "type": ["string", "null"]
                  },
                  "ErrorDetails": {
                    "type": ["string", "null"]
                  },
                  "TotalProcessed": {
                    "type": "integer"
                  },
                  "TotalInserted": {
                    "type": "integer"
                  },
                  "TotalUpdated": {
                    "type": "integer"
                  },
                  "ProcessedDate": {
                    "type": "string"
                  }
                }
              }
            },
            "runAfter": {
              "Execute_Batch_Upsert": ["Succeeded"]
            },
            "trackedProperties": {
              "logLevel": "INFO",
              "message": "SP_Result_Parsed",
              "runId": "@workflow().run.name",
              "spStatus": "@body('Parse_SP_Result')?['Status']",
              "totalProcessed": "@body('Parse_SP_Result')?['TotalProcessed']",
              "totalInserted": "@body('Parse_SP_Result')?['TotalInserted']",
              "totalUpdated": "@body('Parse_SP_Result')?['TotalUpdated']"
            }
          },
          "Check_SP_Status": {
            "type": "If",
            "expression": {
              "and": [
                {
                  "equals": [
                    "@body('Parse_SP_Result')?['Status']",
                    "success"
                  ]
                }
              ]
            },
            "actions": {
              "Log_Success": {
                "type": "Compose",
                "inputs": {
                  "logLevel": "INFO",
                  "message": "Batch_Processing_Success",
                  "totalProcessed": "@body('Parse_SP_Result')?['TotalProcessed']",
                  "totalInserted": "@body('Parse_SP_Result')?['TotalInserted']",
                  "totalUpdated": "@body('Parse_SP_Result')?['TotalUpdated']"
                },
                "runAfter": {},
                "trackedProperties": {
                  "logLevel": "INFO",
                  "message": "Batch_Processing_Success",
                  "runId": "@workflow().run.name",
                  "totalProcessed": "@body('Parse_SP_Result')?['TotalProcessed']",
                  "totalInserted": "@body('Parse_SP_Result')?['TotalInserted']",
                  "totalUpdated": "@body('Parse_SP_Result')?['TotalUpdated']"
                }
              },
              "Return_Success": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200,
                  "body": {
                    "status": "success",
                    "code": 200,
                    "message": "@body('Parse_SP_Result')?['Message']",
                    "details": {
                      "totalProcessed": "@body('Parse_SP_Result')?['TotalProcessed']",
                      "totalInserted": "@body('Parse_SP_Result')?['TotalInserted']",
                      "totalUpdated": "@body('Parse_SP_Result')?['TotalUpdated']",
                      "processedDate": "@body('Parse_SP_Result')?['ProcessedDate']"
                    },
                    "timestamp": "@utcNow()",
                    "runId": "@workflow().run.name"
                  }
                },
                "runAfter": {
                  "Log_Success": ["Succeeded"]
                }
              },
              "Terminate_Success": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Succeeded"
                },
                "runAfter": {
                  "Return_Success": ["Succeeded"]
                }
              }
            },
            "else": {
              "actions": {
                "Log_SP_Error": {
                  "type": "Compose",
                  "inputs": {
                    "logLevel": "ERROR",
                    "message": "Batch_Processing_Failed_From_SP",
                    "errorCode": "@body('Parse_SP_Result')?['ErrorCode']",
                    "errorDetails": "@body('Parse_SP_Result')?['ErrorDetails']",
                    "spMessage": "@body('Parse_SP_Result')?['Message']"
                  },
                  "runAfter": {},
                  "trackedProperties": {
                    "logLevel": "ERROR",
                    "message": "Batch_Processing_Failed_From_SP",
                    "runId": "@workflow().run.name",
                    "errorCode": "@body('Parse_SP_Result')?['ErrorCode']",
                    "errorDetails": "@body('Parse_SP_Result')?['ErrorDetails']",
                    "spMessage": "@body('Parse_SP_Result')?['Message']"
                  }
                },
                "Return_SP_Error": {
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 500,
                    "body": {
                      "status": "error",
                      "code": 500,
                      "message": "@body('Parse_SP_Result')?['Message']",
                      "details": {
                        "errorCode": "@body('Parse_SP_Result')?['ErrorCode']",
                        "errorDetails": "@body('Parse_SP_Result')?['ErrorDetails']",
                        "totalProcessed": "@body('Parse_SP_Result')?['TotalProcessed']"
                      },
                      "timestamp": "@utcNow()",
                      "runId": "@workflow().run.name"
                    }
                  },
                  "runAfter": {
                    "Log_SP_Error": ["Succeeded"]
                  }
                },
                "Terminate_SP_Error": {
                  "type": "Terminate",
                  "inputs": {
                    "runStatus": "Failed",
                    "runError": {
                      "code": "@body('Parse_SP_Result')?['ErrorCode']",
                      "message": "@body('Parse_SP_Result')?['ErrorDetails']"
                    }
                  },
                  "runAfter": {
                    "Return_SP_Error": ["Succeeded"]
                  }
                }
              }
            },
            "runAfter": {
              "Parse_SP_Result": ["Succeeded"]
            }
          }
        },
        "runAfter": {
          "Log_Workflow_Start": ["Succeeded"]
        }
      },
      "Catch": {
        "type": "Scope",
        "actions": {
          "Log_Workflow_Error": {
            "type": "Compose",
            "inputs": {
              "logLevel": "ERROR",
              "message": "Workflow_Execution_Failed",
              "failedAction": "@result('Try')[0]?['name']",
              "errorCode": "@coalesce(result('Try')[0]?['code'], 'UNKNOWN')",
              "errorMessage": "@coalesce(result('Try')[0]?['error']?['message'], 'Unknown error occurred')"
            },
            "runAfter": {},
            "trackedProperties": {
              "logLevel": "ERROR",
              "message": "Workflow_Execution_Failed",
              "runId": "@workflow().run.name",
              "failedAction": "@result('Try')[0]?['name']",
              "errorCode": "@coalesce(result('Try')[0]?['code'], 'UNKNOWN')",
              "errorMessage": "@coalesce(result('Try')[0]?['error']?['message'], 'Unknown error occurred')"
            }
          },
          "Return_Error": {
            "type": "Response",
            "kind": "Http",
            "inputs": {
              "statusCode": 500,
              "body": {
                "status": "error",
                "code": 500,
                "message": "Error processing batch request",
                "details": {
                  "failedAction": "@result('Try')[0]?['name']",
                  "errorCode": "@coalesce(result('Try')[0]?['code'], 'UNKNOWN')",
                  "errorMessage": "@coalesce(result('Try')[0]?['error']?['message'], 'Unknown error occurred')"
                },
                "timestamp": "@utcNow()",
                "runId": "@workflow().run.name"
              }
            },
            "runAfter": {
              "Log_Workflow_Error": ["Succeeded"]
            }
          },
          "Terminate_Failed": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Failed",
              "runError": {
                "code": "@coalesce(result('Try')[0]?['code'], 'WorkflowFailed')",
                "message": "@coalesce(result('Try')[0]?['error']?['message'], 'Workflow execution failed')"
              }
            },
            "runAfter": {
              "Return_Error": ["Succeeded"]
            }
          }
        },
        "runAfter": {
          "Try": ["Failed", "Skipped", "TimedOut"]
        }
      }
    },
    "triggers": {
      "When_a_HTTP_request_is_received": {
        "type": "Request",
        "kind": "Http",
        "inputs": {}
      }
    },
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    }
  },
  "kind": "Stateful"
}
